{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}antialiased tracking-tight font-base text-gray-500 text-base h-full bg-white dark:bg-gray-900 overflow-x-hidden{% endblock %}

{% block name %}
Blog
{% endblock%}

{% block breadcrumb %}
Blog
{% endblock%}


{% block content %}

<main id="main-content" class="grow lg:pt-0">

    <section class="pt-14 pb-24 lg:pt-[120px] lg:pb-[220px]">
        <div class="container">
            <article class="grid-col-4 grid gap-x-4 md:grid-cols-12 md:gap-x-6 lg:gap-x-[30px]">

                <header class="col-span-full mb-4 flex flex-col items-center gap-y-6 md:col-start-3 md:col-end-11 md:mb-6">
                    <a class="bg-accent px-3 py-1 text-xs font-bold uppercase leading-snug text-white transition-colors hover:bg-accent/90 md:text-sm"
                       href="#">
                        {{ page.date }}
                    </a>
                    <h1 class="pb-1 text-center text-2xl font-bold leading-tight tracking-tighter text-primary dark:text-white md:text-3xl lg:px-8 lg:text-5xl lg:leading-none">
                        {{ page.title }}
                    </h1>
                <figure class="lg:my-10">
                    <img class="h-auto max-w-full"
                         src="{{ page.gallery_images.all.0.image.file.url }}"
                         alt="">
                </figure>
                </header>




                {{ page.gallery_images.all.0.image.caption }}


                <div class="col-span-full md:col-start-3 md:col-end-11">
                    <div class="vv-prose">
                        <p class="lead">
                            {{ page.intro }}
                        </p>

                        <p>{{ page.body|richtext }}
                        </p>


                        {% with tags=page.tags.all %}
                        {% if tags %}
                        <div class="tags">
                            <h3>Tags</h3>
                            {% for tag in tags %}
                            <a class="transition-colors text-accent dark:text-accent"
                               href="{% slugurl 'tags' %}?tag={{ tag }}">
                                {{ tag }}
                            </a>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endwith %}

                        {% if page.gallery_images.all.count > 1 %}
                            {% for item in page.gallery_images.all %}
                        <div style="float: left; margin: 10px">
                            {% image item.image fill-320x240 %}
                            <p>{{ item.caption }}</p>
                        </div>
                            {% endfor %}
                        {% endif %}


                        <br/>
                      Writen by: {{page.author}}
                    </div>
                </div>





            </article>
        </div>
    </section>

</main>

<script>

    document.addEventListener("DOMContentLoaded", function() {
        const paragraphs = document.querySelectorAll("p");

        paragraphs.forEach(paragraph => {
            const modifiedHTML = paragraph.innerHTML.replace(/<a href="([^"]*\.mp4)">([^<]*)<\/a>/g, (match, src, content) => {
                const videoTag = `<video src="${src}" controls></video>`;
                return videoTag;
            });

            paragraph.innerHTML = modifiedHTML;
        });
    });


                document.addEventListener("DOMContentLoaded", function() {
            const iframes = document.querySelectorAll("iframe");

            iframes.forEach(iframe => {
                iframe.setAttribute("width", "640");
                iframe.setAttribute("height", "360");
            });
        });
    </script>

{% endblock %}