{% load static wagtailcore_tags wagtailuserbar %}
{% load wagtailimages_tags %}
{% load static %}
<div class="swiper js-vv-hero-swiper h-full w-full">

    <div class="swiper-wrapper vv-hero-swiper-wrapper">

        {% for item in slider %}

        {% with item=item.specific %}

        {% if item.style == 'option1' %}
        <div class="swiper-slide group">
            <div class="relative isolate h-full w-full bg-primary">
                <div class="container h-full">
                    <div class="grid h-full grid-cols-12 gap-y-10 md:gap-x-6 lg:gap-x-[30px]">

                        <div class="col-span-full md:col-span-8 md:col-start-3 lg:col-span-10 lg:col-start-2">
                            <div class="px-6 pt-28 text-center md:pt-36 lg:px-0 lg:pt-44 lg:text-left">
                                <div class="mb-3 lg:mb-6 lg:pt-2">
                                    <a class="bg-accent px-3 py-1 text-xs font-bold uppercase leading-snug text-white transition-colors hover:bg-accent/90 lg:text-sm"
                                        href="{% if item.news %}{{ item.news.url }}{% elif item.link %}{{ item.link }}{% endif %}">
                                        News
                                    </a>
                                </div>

                                <h2 class="mb-6 text-2xl font-bold leading-none tracking-tighter sm:text-2.5xl md:mb-6 md:text-3xl md:leading-none lg:mb-7 lg:text-5.5xl lg:leading-none">
                                    <a href="{% if item.news %}{{ item.news.url }}{% elif item.link %}{{ item.link }}{% endif %}"
                                       class="transition-opacity duration-300 hover:opacity-80">
                                        {{item.text|richtext}}
                                    </a>
                                </h2>

                                <ul class="mb-6 flex flex-wrap justify-center divide-x divide-accent text-xs leading-none tracking-tighter text-white md:mb-8 md:text-sm md:text-white lg:mb-14 lg:justify-start lg:text-base lg:text-white">
                                    <li class="px-2 leading-none first:pl-0">{{item.date}}</li>
                                </ul>

                                <ul class="flex flex-wrap justify-center gap-4 md:gap-7 lg:justify-start">
                                    <li>
                                <a href="{% if item.news %}{{ item.news.url }}{% elif item.link %}{{ item.link }}{% endif %}"
                                   class="relative isolate inline-flex overflow-hidden border-2 bg-transparent py-3 px-4 text-center text-xs font-bold leading-none transition-colors before:absolute before:inset-y-0 before:left-0 before:-z-10 before:block before:w-full before:origin-right before:scale-x-0 before:transition-transform before:duration-300 hover:before:origin-left hover:before:scale-x-100 lg:py-[14px] lg:px-12 lg:text-sm py-3 px-4 lg:py-[14px] lg:px-12 bg-transparent border-2 border-white before:bg-white text-white lg:text-white hover:text-primary">
                                    Read it Now!
                                </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="absolute inset-0 -z-10 bg-[url('{{ item.image.url }}')] bg-cover bg-center bg-no-repeat transition-transform duration-[8000ms] ease-out group-[.swiper-slide-active]:scale-110"></div>

                <div class="absolute inset-0 -z-10 bg-gray-900/80"></div>
            </div>
        </div>
        {% elif item.style == 'option2' %}

        <div class="swiper-slide group">
            <div class="relative isolate h-full w-full bg-primary">
                <div class="container h-full">
                    <div class="grid h-full grid-cols-12 gap-y-10 md:gap-x-6 lg:gap-x-[30px]">

                        <div class="col-span-full md:col-span-8 md:col-start-3 lg:col-span-10 lg:col-start-2">
                            <div class="px-6 pt-28 text-center md:pt-36 lg:px-0 lg:pt-44">

                                <div class="mb-2 flex flex-wrap justify-center gap-1 text-sm text-white lg:mb-6 lg:pt-2 lg:text-base lg:text-white">
                                    <br/><br/>
                                </div>

                                <h2 class="mb-4 text-2xl font-bold leading-none tracking-tighter sm:text-2.5xl md:mb-6 md:text-3xl md:leading-none lg:mb-12 lg:text-5.5xl lg:leading-none">
                                    <a href="{% if item.news %}{{ item.news.url }}{% elif item.link %}{{ item.link }}{% endif %}" class="hover:opacity-80 transition-opacity duration-300">
                                        {{item.text|richtext}}
                                    </a>
                                </h2>

                                <div class="mx-auto mb-8 max-w-xl text-sm tracking-tighter text-white lg:mb-12 lg:text-lg lg:leading-8">
                                    How to start? How to play and grow collection? How to compete in esport?
                                </div>

                                <a href="{% if item.news %}{{ item.news.url }}{% elif item.link %}{{ item.link }}{% endif %}"
                                   class="relative isolate inline-flex overflow-hidden border-2 bg-transparent py-3 px-4 text-center text-xs font-bold leading-none transition-colors before:absolute before:inset-y-0 before:left-0 before:-z-10 before:block before:w-full before:origin-right before:scale-x-0 before:transition-transform before:duration-300 hover:before:origin-left hover:before:scale-x-100 lg:py-[14px] lg:px-12 lg:text-sm py-3 px-4 lg:py-[14px] lg:px-12 bg-transparent border-2 border-white before:bg-white text-white lg:text-white hover:text-primary">
                                    Read it Now!
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="absolute inset-0 -z-10 bg-[url('{{ item.image.url }}')] bg-cover bg-center bg-no-repeat ease-out transition-transform duration-[8000ms] group-[.swiper-slide-active]:scale-110"></div>

                <div class="absolute inset-0 -z-10 bg-gray-900/80"></div>
            </div>
        </div>
        {% elif item.style == 'option3' %}
        <div class="swiper-slide group">
            <div class="h-full w-full bg-accent lg:bg-gradient-radial-hero">
                <div class="container h-full">
                    <div class="grid h-full grid-cols-12 gap-y-10 md:gap-x-6 lg:gap-x-[30px]">

                        <div class="col-span-full lg:col-span-6 lg:col-start-2">
                            <div class="px-6 pt-32 text-center md:pt-36 lg:px-0 lg:pt-44 lg:text-left">
                                <br/><br/><br/>
                                <h2 class="mb-5 flex flex-col items-center font-bold leading-none lg:items-start">
                          <span class="relative overflow-hidden after:absolute after:inset-y-0 after:left-0 after:block after:w-[300%] after:-translate-x-full after:bg-white after:transition-transform after:duration-[1500ms] after:ease-linear group-[.swiper-slide-active:not(.vv-slide-played)]:after:translate-x-full group-[.vv-slide-played]:after:opacity-0">
                              <span class="text-2xl leading-none tracking-tighter opacity-0 transition-opacity delay-[400ms] duration-500 group-[.vv-slide-played]:opacity-100 group-[.swiper-slide-active:not(.vv-slide-played)]:opacity-100 lg:text-5xl xl:text-6.5xl">{{item.text|richtext}}</span>
                          </span>
                                    <span class="relative overflow-hidden after:absolute after:inset-y-0 after:left-0 after:block after:w-[300%] after:-translate-x-full after:bg-white after:transition-transform after:delay-[300ms] after:duration-[1500ms] after:ease-linear group-[.swiper-slide-active:not(.vv-slide-played)]:after:translate-x-full group-[.vv-slide-played]:after:opacity-0">
                              <span class="-mt-1 text-4xl leading-none tracking-tightest text-[#fffac3] opacity-0 transition-opacity delay-[600ms] duration-500 group-[.vv-slide-played]:opacity-100 group-[.swiper-slide-active:not(.vv-slide-played)]:opacity-100 lg:-mt-2 lg:text-6.5xl xl:text-8xl">{{item.secondtext|richtext}}</span>
                          </span>
                                </h2>
                                <div class="mb-8 pr-4 text-sm tracking-tighter text-white lg:mb-12 lg:text-lg lg:leading-8 xl:pr-20">
                                    {{item.thirdtext|richtext}}
                                </div>
                                <a href="/"
                                   class="relative isolate inline-flex overflow-hidden border-2 bg-transparent py-3 px-4 text-center text-xs font-bold leading-none transition-colors before:absolute before:inset-y-0 before:left-0 before:-z-10 before:block before:w-full before:origin-right before:scale-x-0 before:transition-transform before:duration-300 hover:before:origin-left hover:before:scale-x-100 lg:py-[14px] lg:px-12 lg:text-sm py-3 px-4 lg:py-[14px] lg:px-12 bg-transparent border-2 border-white before:bg-white text-white lg:text-white hover:text-primary">
                                    Read intro!
                                </a>
                            </div>
                        </div>

                        <div class="col-span-full lg:col-span-5">

                            <div class="hidden scale-90 opacity-0 transition-all duration-700 group-[.swiper-slide-active:not(.vv-slide-played)]:scale-100 group-[.vv-slide-played]:scale-100 group-[.vv-slide-played]:opacity-100 group-[.swiper-slide-active:not(.vv-slide-played)]:opacity-100 lg:absolute lg:bottom-6 lg:-ml-4 lg:block">
                                <img src="{{item.image.url}}" alt="">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}

        {% endwith %}
        {% endfor %}


    </div>

</div>