<section class="pt-14 pb-24 lg:pb-52 lg:pt-40">
    <div class="container">
        <div class="relative -mt-20 mb-14 flex flex-col md:flex-row md:justify-between lg:-mt-[200px] lg:mb-40">
            <ul class="relative z-10 items-start md:items-stretch flex flex-col py-4 md:py-0 md:flex-row md:gap-x-6 lg:gap-x-12 xl:gap-x-14 md:min-h-[100px] lg:min-h-[120px]">
                <li class="flex after:absolute after:h-1 md:after:bottom-0 after:bottom-1 after:bg-accent after:inset-x-0 relative">
                    <a class="flex items-center py-2 font-bold transition-all hover:text-primary dark:hover:text-white hover:opacity-100 text-sm lg:text-base opacity-100 text-primary lg:text-primary dark:text-white dark:lg:text-white"
                       href="#">All News</a></li>
                <li class="flex"><a
                        class="flex items-center py-2 font-bold transition-all hover:text-primary dark:hover:text-white hover:opacity-100 text-sm lg:text-base opacity-40 dark:text-white/90"
                        href="#">The Channel</a></li>
                <li class="flex"><a
                        class="flex items-center py-2 font-bold transition-all hover:text-primary dark:hover:text-white hover:opacity-100 text-sm lg:text-base opacity-40 dark:text-white/90"
                        href="#">Previews</a></li>
                <li class="flex"><a
                        class="flex items-center py-2 font-bold transition-all hover:text-primary dark:hover:text-white hover:opacity-100 text-sm lg:text-base opacity-40 dark:text-white/90"
                        href="#">Unboxings</a></li>
            </ul>
            <div class="relative z-10 flex justify-between gap-x-4 pr-6 pb-5 md:pb-0 md:gap-x-6 lg:gap-x-10 lg:pr-[60px]">
                <ul class="flex flex-col md:flex-row md:gap-x-4 lg:gap-x-8 xl:gap-x-10">
                    <li class="flex"><a
                            class="flex items-center py-2 font-bold text-sm lg:text-base lg:text-primary dark:lg:text-white text-accent lg:text-accent dark:text-accent dark:lg:text-accent"
                            href="#">Newest</a></li>
                    <li class="flex"><a
                            class="flex items-center py-2 font-bold text-sm lg:text-base lg:text-primary dark:lg:text-white text-primary transition-colors hover:text-accent dark:text-white dark:hover:text-accent"
                            href="#">Oldest</a></li>
                    <li class="flex"><a
                            class="flex items-center py-2 font-bold text-sm lg:text-base lg:text-primary dark:lg:text-white text-primary transition-colors hover:text-accent dark:text-white dark:hover:text-accent"
                            href="#">Popular</a></li>
                </ul>
                <ul class="flex gap-4 lg:gap-6 pt-2 md:self-center md:pt-0">
                    <li><a class="group" href="_yt1-blog-grid.html">
                        <svg role="img"
                             class="h-6 w-6 fill-primary group-hover:fill-accent transition-colors dark:fill-white dark:group-hover:fill-accent">
                            <use xlink:href="assets/img/yt1/sprite.svg#grid"></use>
                        </svg>
                    </a></li>
                    <li><a class="group" href="_yt1-blog-list.html">
                        <svg role="img" class="h-6 w-6 fill-accent dark:fill-accent">
                            <use xlink:href="assets/img/yt1/sprite.svg#list"></use>
                        </svg>
                    </a></li>
                </ul>
            </div>
            <div class="absolute inset-0 -left-full bg-white dark:bg-gray-800 shadow-3xl"></div>
        </div>
        <div class="flex flex-col gap-y-12 lg:gap-y-14">
            <div class="grid grid-cols-12 gap-y-6 sm:grid-rows-1">
                <figure class="group col-span-full overflow-hidden bg-gray-900 sm:col-start-1 sm:col-end-8 sm:row-start-1 sm:row-end-2">
                    <a href="_yt1-single.html"><img
                            class="aspect-14/9 h-full w-full object-cover duration-300 group-hover:scale-110 group-hover:opacity-75"
                            src="assets/img/yt1/samples/post-img-1-700x450.jpg"
                            alt="Next month I’ll be unboxing the exclusive “Last of Them II” deluxe version"></a>
                </figure>
                <div class="relative col-span-full bg-white dark:bg-gray-800 sm:col-start-6 sm:col-end-13 sm:row-start-1 sm:row-end-2 sm:mt-12 lg:mt-[70px] sm:p-6 sm:pr-0 md:px-7 lg:p-9 lg:pb-12">
                    <div class="mb-4 inline-flex bg-accent px-2 py-1 text-xs font-bold uppercase leading-none text-white lg:mb-7">
                        Previews
                    </div>
                    <h2 class="mb-4 text-2xl font-bold leading-none sm:text-xl lg:text-4xl lg:mb-6 lg:tracking-tighter lg:leading-none">
                        <a href="_yt1-single.html"
                           class="text-primary transition-colors hover:text-accent dark:text-white dark:hover:text-accent">Next
                            month I’ll be unboxing the exclusive “Last of Them II” deluxe version</a></h2>
                    <div class="mb-3 sm:text-sm lg:mb-6 lg:text-base">March 18, 2022</div>
                    <div class="sm:text-sm lg:pr-20 lg:text-lg lg:leading-8 tracking-tight">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-y-6 sm:grid-rows-1">
                <figure class="group col-span-full overflow-hidden bg-gray-900 sm:col-start-1 sm:col-end-8 sm:row-start-1 sm:row-end-2">
                    <a href="_yt1-single.html"><img
                            class="aspect-14/9 h-full w-full object-cover duration-300 group-hover:scale-110 group-hover:opacity-75"
                            src="assets/img/yt1/samples/post-img-2-700x450.jpg"
                            alt="I’ll be at the next YouCon 20’ in New York unveiling new and exciting gadgets!"></a>
                </figure>
                <div class="relative col-span-full bg-white dark:bg-gray-800 sm:col-start-6 sm:col-end-13 sm:row-start-1 sm:row-end-2 sm:mt-12 lg:mt-[70px] sm:p-6 sm:pr-0 md:px-7 lg:p-9 lg:pb-12">
                    <div class="mb-4 inline-flex bg-accent px-2 py-1 text-xs font-bold uppercase leading-none text-white lg:mb-7">
                        The Channel
                    </div>
                    <h2 class="mb-4 text-2xl font-bold leading-none sm:text-xl lg:text-4xl lg:mb-6 lg:tracking-tighter lg:leading-none">
                        <a href="_yt1-single.html"
                           class="text-primary transition-colors hover:text-accent dark:text-white dark:hover:text-accent">I’ll
                            be at the next YouCon 20’ in New York unveiling new and exciting gadgets!</a></h2>
                    <div class="mb-3 sm:text-sm lg:mb-6 lg:text-base">February 09, 2022</div>
                    <div class="sm:text-sm lg:pr-20 lg:text-lg lg:leading-8 tracking-tight">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-y-6 sm:grid-rows-1">
                <figure class="group col-span-full overflow-hidden bg-gray-900 sm:col-start-1 sm:col-end-8 sm:row-start-1 sm:row-end-2">
                    <a href="_yt1-single.html"><img
                            class="aspect-14/9 h-full w-full object-cover duration-300 group-hover:scale-110 group-hover:opacity-75"
                            src="assets/img/yt1/samples/post-img-3-700x450.jpg"
                            alt="Here’s the X-mas Gamer Box from Powerstation and it packs some surprises"></a></figure>
                <div class="relative col-span-full bg-white dark:bg-gray-800 sm:col-start-6 sm:col-end-13 sm:row-start-1 sm:row-end-2 sm:mt-12 lg:mt-[70px] sm:p-6 sm:pr-0 md:px-7 lg:p-9 lg:pb-12">
                    <div class="mb-4 inline-flex bg-accent px-2 py-1 text-xs font-bold uppercase leading-none text-white lg:mb-7">
                        Unboxings
                    </div>
                    <h2 class="mb-4 text-2xl font-bold leading-none sm:text-xl lg:text-4xl lg:mb-6 lg:tracking-tighter lg:leading-none">
                        <a href="_yt1-single.html"
                           class="text-primary transition-colors hover:text-accent dark:text-white dark:hover:text-accent">Here’s
                            the X-mas Gamer Box from Powerstation and it packs some surprises</a></h2>
                    <div class="mb-3 sm:text-sm lg:mb-6 lg:text-base">December 21st, 2021</div>
                    <div class="sm:text-sm lg:pr-20 lg:text-lg lg:leading-8 tracking-tight">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-y-6 sm:grid-rows-1">
                <figure class="group col-span-full overflow-hidden bg-gray-900 sm:col-start-1 sm:col-end-8 sm:row-start-1 sm:row-end-2">
                    <a href="_yt1-single.html"><img
                            class="aspect-14/9 h-full w-full object-cover duration-300 group-hover:scale-110 group-hover:opacity-75"
                            src="assets/img/yt1/samples/post-img-4-700x450.jpg"
                            alt="Here’s a Sneak Peek at our Beach Gadgets Episode in Beautiful Hawaii!"></a></figure>
                <div class="relative col-span-full bg-white dark:bg-gray-800 sm:col-start-6 sm:col-end-13 sm:row-start-1 sm:row-end-2 sm:mt-12 lg:mt-[70px] sm:p-6 sm:pr-0 md:px-7 lg:p-9 lg:pb-12">
                    <div class="mb-4 inline-flex bg-accent px-2 py-1 text-xs font-bold uppercase leading-none text-white lg:mb-7">
                        Previews
                    </div>
                    <h2 class="mb-4 text-2xl font-bold leading-none sm:text-xl lg:text-4xl lg:mb-6 lg:tracking-tighter lg:leading-none">
                        <a href="_yt1-single.html"
                           class="text-primary transition-colors hover:text-accent dark:text-white dark:hover:text-accent">Here’s
                            a Sneak Peek at our Beach Gadgets Episode in Beautiful Hawaii!</a></h2>
                    <div class="mb-3 sm:text-sm lg:mb-6 lg:text-base">December 19th, 2021</div>
                    <div class="sm:text-sm lg:pr-20 lg:text-lg lg:leading-8 tracking-tight">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-y-6 sm:grid-rows-1">
                <figure class="group col-span-full overflow-hidden bg-gray-900 sm:col-start-1 sm:col-end-8 sm:row-start-1 sm:row-end-2">
                    <a href="_yt1-single.html"><img
                            class="aspect-14/9 h-full w-full object-cover duration-300 group-hover:scale-110 group-hover:opacity-75"
                            src="assets/img/yt1/samples/post-img-5-700x450.jpg"
                            alt="We Filmed our Biggest Unboxing yet in the Best Gadgets Shop in the World That’s Open 365 Days!"></a>
                </figure>
                <div class="relative col-span-full bg-white dark:bg-gray-800 sm:col-start-6 sm:col-end-13 sm:row-start-1 sm:row-end-2 sm:mt-12 lg:mt-[70px] sm:p-6 sm:pr-0 md:px-7 lg:p-9 lg:pb-12">
                    <div class="mb-4 inline-flex bg-accent px-2 py-1 text-xs font-bold uppercase leading-none text-white lg:mb-7">
                        Previews
                    </div>
                    <h2 class="mb-4 text-2xl font-bold leading-none sm:text-xl lg:text-4xl lg:mb-6 lg:tracking-tighter lg:leading-none">
                        <a href="_yt1-single.html"
                           class="text-primary transition-colors hover:text-accent dark:text-white dark:hover:text-accent">We
                            Filmed our Biggest Unboxing yet in the Best Gadgets Shop in the World That’s Open 365
                            Days!</a></h2>
                    <div class="mb-3 sm:text-sm lg:mb-6 lg:text-base">December 12th, 2021</div>
                    <div class="sm:text-sm lg:pr-20 lg:text-lg lg:leading-8 tracking-tight">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-y-6 sm:grid-rows-1">
                <figure class="group col-span-full overflow-hidden bg-gray-900 sm:col-start-1 sm:col-end-8 sm:row-start-1 sm:row-end-2">
                    <a href="_yt1-single.html"><img
                            class="aspect-14/9 h-full w-full object-cover duration-300 group-hover:scale-110 group-hover:opacity-75"
                            src="assets/img/yt1/samples/post-img-6-700x450.jpg"
                            alt="We Unboxed with April BX some Mini Retro Arcades from Kokami"></a></figure>
                <div class="relative col-span-full bg-white dark:bg-gray-800 sm:col-start-6 sm:col-end-13 sm:row-start-1 sm:row-end-2 sm:mt-12 lg:mt-[70px] sm:p-6 sm:pr-0 md:px-7 lg:p-9 lg:pb-12">
                    <div class="mb-4 inline-flex bg-accent px-2 py-1 text-xs font-bold uppercase leading-none text-white lg:mb-7">
                        Unboxings
                    </div>
                    <h2 class="mb-4 text-2xl font-bold leading-none sm:text-xl lg:text-4xl lg:mb-6 lg:tracking-tighter lg:leading-none">
                        <a href="_yt1-single.html"
                           class="text-primary transition-colors hover:text-accent dark:text-white dark:hover:text-accent">We
                            Unboxed with April BX some Mini Retro Arcades from Kokami</a></h2>
                    <div class="mb-3 sm:text-sm lg:mb-6 lg:text-base">December 7th, 2021</div>
                    <div class="sm:text-sm lg:pr-20 lg:text-lg lg:leading-8 tracking-tight">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                    </div>
                </div>
            </div>
        </div>
        <nav class="pt-12 md:pt-14 lg:pt-32">
            <ul class="flex flex-wrap items-center justify-center gap-x-5 md:gap-x-6 lg:gap-x-8">
                <li class="flex items-center"><a
                        class="inline-block text-base opacity-40 hover:text-primary dark:hover:text-white text-primary dark:text-white hover:opacity-100"
                        href="#">
                    <svg class="h-3 w-3" fill="currentColor">
                        <use xlink:href="assets/img/yt1/sprite.svg#chevron-left"></use>
                    </svg>
                </a></li>
                <li>
                    <a class="text-base font-bold transition-colors hover:text-accent dark:hover:text-accent text-accent"
                       href="#">01</a></li>
                <li>
                    <a class="text-base font-bold transition-colors hover:text-accent dark:hover:text-accent text-primary dark:text-white"
                       href="#">02</a></li>
                <li>
                    <a class="text-base font-bold transition-colors hover:text-accent dark:hover:text-accent text-primary dark:text-white"
                       href="#">03</a></li>
                <li>
                    <a class="text-base font-bold transition-colors hover:text-accent dark:hover:text-accent text-primary dark:text-white"
                       href="#">04</a></li>
                <li>
                    <a class="text-base font-bold transition-colors hover:text-accent dark:hover:text-accent text-primary dark:text-white"
                       href="#">05</a></li>
                <li class="flex items-center"><a
                        class="inline-block text-base opacity-40 hover:text-primary dark:hover:text-white text-primary dark:text-white hover:opacity-100"
                        href="#">
                    <svg class="h-3 w-3" fill="currentColor">
                        <use xlink:href="assets/img/yt1/sprite.svg#chevron-right"></use>
                    </svg>
                </a></li>
            </ul>
        </nav>
    </div>
</section>


<section>

    <div class="mx-auto max-w-[1500px] px-5">
        <div class="grid grid-cols-12 gap-5">
            <div class="col-span-full md:col-span-6">
                <div class="relative isolate flex aspect-[72/31] sm:aspect-[72/28] lg:aspect-[72/30] xl:aspect-[72/26] w-full items-center overflow-hidden bg-[#953fff]">
                    <div class="flex flex-col gap-y-3 sm:gap-y-4 md:gap-y-5 lg:gap-y-7 xl:gap-y-9 items-start w-2/3 pl-5 sm:pl-7 leading-tight lg:pl-8 lg:pb-3 xl:pl-12 xl:pb-2">
                        <h4 class="text-xl font-bold leading-none tracking-tight text-white sm:text-3xl md:text-2xl md:leading-none lg:text-3xl xl:text-[38px]">
                            2023 Best Games Unboxings Playlist</h4><a href="#"
                                                                      class="inline-flex text-center items-center font-bold leading-none transition-colors justify-center gap-x-3 py-4 px-4 md:py-[17px] lg:px-8 text-sm text-white bg-transparent hover:bg-white hover:text-gray-900 border-2 border-white">Watch
                        the Playlist</a></div>
                    <img class="absolute right-0 top-0 -z-10 block h-full max-w-[50%] lg:max-w-[45%] object-cover object-right"
                         src="assets/img/yt2/samples/promo-1.png" alt=""></div>
            </div>
            <div class="col-span-full md:col-span-6">
                <div class="relative isolate flex aspect-[72/31] sm:aspect-[72/28] lg:aspect-[72/30] xl:aspect-[72/26] w-full items-center overflow-hidden bg-secondary">
                    <div class="flex flex-col gap-y-3 sm:gap-y-4 md:gap-y-5 lg:gap-y-7 xl:gap-y-9 items-start w-2/3 pl-5 sm:pl-7 leading-tight lg:pl-8 lg:pb-3 xl:pl-12 xl:pb-2">
                        <h4 class="text-xl font-bold leading-none tracking-tight text-primary sm:text-3xl md:text-2xl md:leading-none lg:text-3xl xl:text-[38px]">
                            New Smartphones Unboxing Playlist</h4><a href="#"
                                                                     class="inline-flex text-center items-center font-bold leading-none transition-colors justify-center gap-x-3 py-4 px-4 md:py-[17px] lg:px-8 text-sm text-primary bg-transparent hover:bg-primary hover:text-white border-2 border-primary">Watch
                        the Playlist</a></div>
                    <img class="absolute right-0 top-0 -z-10 block h-full max-w-[45%] object-cover object-right"
                         src="assets/img/yt2/samples/promo-2.png" alt=""></div>
            </div>
        </div>
    </div>


</section>


<main id="main-content" class="grow lg:pt-0 relative">
    <section class="pt-12 pb-20 lg:pb-52 lg:pt-24">
        <div class="container">
            <div class="grid grid-cols-12 gap-x-5 md:gap-x-6 lg:gap-x-7.5 gap-y-14">
                <div class="col-span-full lg:col-span-3"><h2
                        class="text-primary dark:text-white text-1.5xl mb-6 md:mb-8 lg:mb-10 md:text-2xl lg:text-3xl xl:text-3.5xl font-bold xl:mb-14">
                    FAQs</h2>
                    <div class="accordion flex flex-col gap-y-4 lg:gap-y-5 xl:gap-y-6">
                        <div class="accordion__item group active">
                            <div class="accordion__item-trigger relative flex cursor-pointer flex-wrap items-center gap-2 font-bold text-primary dark:text-white lg:gap-2.5 lg:text-lg tracking-tight">
                                <span class="pr-8 xl:pr-0">So, what’s an affiliate?</span> <span
                                    class="before:bg-accent after:bg-accent absolute right-0 top-1 aspect-square w-3.5 before:absolute before:left-1/2 before:top-1/2 before:h-1 before:w-3.5 before:-translate-x-1/2 before:-translate-y-1/2 after:visible after:absolute after:left-1/2 after:top-1/2 after:h-3.5 after:w-1 after:-translate-x-1/2 after:-translate-y-1/2 group-[.active]:before:bg-accent group-[.active]:after:invisible dark:group-[.active]:before:bg-white xl:relative lg:top-2 xl:top-0"></span>
                            </div>
                            <div class="accordion__item-content animate-fade hidden group-[.active]:block">
                                <div class="pt-4 lg:pt-5 xl:pt-6 tracking-tight leading-[26px]">Lorem ipsum dolor sit
                                    amet, sectetur adipiscing elit, sed do eiusmod mpor incididunt ut labore et dolore
                                    magna aliqua.
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item group">
                            <div class="accordion__item-trigger relative flex cursor-pointer flex-wrap items-center gap-2 font-bold text-primary dark:text-white lg:gap-2.5 lg:text-lg tracking-tight">
                                <span class="pr-8 xl:pr-0">Does it cost me something?</span> <span
                                    class="before:bg-accent after:bg-accent absolute right-0 top-1 aspect-square w-3.5 before:absolute before:left-1/2 before:top-1/2 before:h-1 before:w-3.5 before:-translate-x-1/2 before:-translate-y-1/2 after:visible after:absolute after:left-1/2 after:top-1/2 after:h-3.5 after:w-1 after:-translate-x-1/2 after:-translate-y-1/2 group-[.active]:before:bg-accent group-[.active]:after:invisible dark:group-[.active]:before:bg-white xl:relative lg:top-2 xl:top-0"></span>
                            </div>
                            <div class="accordion__item-content animate-fade hidden group-[.active]:block">
                                <div class="pt-4 lg:pt-5 xl:pt-6 tracking-tight leading-[26px]">Lorem ipsum dolor sit
                                    amet, sectetur adipiscing elit, sed do eiusmod mpor incididunt ut labore et dolore
                                    magna aliqua.
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item group">
                            <div class="accordion__item-trigger relative flex cursor-pointer flex-wrap items-center gap-2 font-bold text-primary dark:text-white lg:gap-2.5 lg:text-lg tracking-tight">
                                <span class="pr-8 xl:pr-0">Do I get any benefits?</span> <span
                                    class="before:bg-accent after:bg-accent absolute right-0 top-1 aspect-square w-3.5 before:absolute before:left-1/2 before:top-1/2 before:h-1 before:w-3.5 before:-translate-x-1/2 before:-translate-y-1/2 after:visible after:absolute after:left-1/2 after:top-1/2 after:h-3.5 after:w-1 after:-translate-x-1/2 after:-translate-y-1/2 group-[.active]:before:bg-accent group-[.active]:after:invisible dark:group-[.active]:before:bg-white xl:relative lg:top-2 xl:top-0"></span>
                            </div>
                            <div class="accordion__item-content animate-fade hidden group-[.active]:block">
                                <div class="pt-4 lg:pt-5 xl:pt-6 tracking-tight leading-[26px]">Lorem ipsum dolor sit
                                    amet, sectetur adipiscing elit, sed do eiusmod mpor incididunt ut labore et dolore
                                    magna aliqua.
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item group">
                            <div class="accordion__item-trigger relative flex cursor-pointer flex-wrap items-center gap-2 font-bold text-primary dark:text-white lg:gap-2.5 lg:text-lg tracking-tight">
                                <span class="pr-8 xl:pr-0">Can I be an affiliate?</span> <span
                                    class="before:bg-accent after:bg-accent absolute right-0 top-1 aspect-square w-3.5 before:absolute before:left-1/2 before:top-1/2 before:h-1 before:w-3.5 before:-translate-x-1/2 before:-translate-y-1/2 after:visible after:absolute after:left-1/2 after:top-1/2 after:h-3.5 after:w-1 after:-translate-x-1/2 after:-translate-y-1/2 group-[.active]:before:bg-accent group-[.active]:after:invisible dark:group-[.active]:before:bg-white xl:relative lg:top-2 xl:top-0"></span>
                            </div>
                            <div class="accordion__item-content animate-fade hidden group-[.active]:block">
                                <div class="pt-4 lg:pt-5 xl:pt-6 tracking-tight leading-[26px]">Lorem ipsum dolor sit
                                    amet, sectetur adipiscing elit, sed do eiusmod mpor incididunt ut labore et dolore
                                    magna aliqua.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-full lg:col-span-9">
                    <div class="flex flex-col gap-y-7.5">
                        <div class="flex flex-col gap-8 sm:flex-row">
                            <figure class="shrink-0"><a href="#"><img class="w-28 md:w-36 lg:w-40 xl:w-auto"
                                                                      src="assets/img/yt2/samples/affiliate-product-1.jpg"
                                                                      alt=""></a></figure>
                            <div class="flex-1">
                                <div class="flex flex-wrap justify-between gap-6 mb-6 lg:mb-0">
                                    <div class="lg:mb-5">
                                        <hgroup class="-mt-1"><h3
                                                class="text-xl lg:text-1.5xl font-bold text-primary dark:text-white leading-none tracking-tight mb-1">
                                            330-Fuel Energy Drinks</h3>
                                            <p class="font-bold uppercase text-accent text-sm mb-3">Use code "UNBX" for
                                                20% off your order</p></hgroup>
                                        <div class="relative text-sm leading-none">
                                            <div class="inline-flex gap-1">
                                                <svg role="img" class="h-3 w-3 fill-gray-200 dark:fill-white/20">
                                                    <use xlink:href="assets/img/yt2/sprite.svg#star"></use>
                                                </svg>
                                                <svg role="img" class="h-3 w-3 fill-gray-200 dark:fill-white/20">
                                                    <use xlink:href="assets/img/yt2/sprite.svg#star"></use>
                                                </svg>
                                                <svg role="img" class="h-3 w-3 fill-gray-200 dark:fill-white/20">
                                                    <use xlink:href="assets/img/yt2/sprite.svg#star"></use>
                                                </svg>
                                                <svg role="img" class="h-3 w-3 fill-gray-200 dark:fill-white/20">
                                                    <use xlink:href="assets/img/yt2/sprite.svg#star"></use>
                                                </svg>
                                                <svg role="img" class="h-3 w-3 fill-gray-200 dark:fill-white/20">
                                                    <use xlink:href="assets/img/yt2/sprite.svg#star"></use>
                                                </svg>
                                            </div>
                                            <div class="absolute left-0 top-0 inline-flex gap-1">
                                                <svg role="img" class="h-3 w-3 fill-secondary">
                                                    <use xlink:href="assets/img/yt2/sprite.svg#star"></use>
                                                </svg>
                                                <svg role="img" class="h-3 w-3 fill-secondary">
                                                    <use xlink:href="assets/img/yt2/sprite.svg#star"></use>
                                                </svg>
                                                <svg role="img" class="h-3 w-3 fill-secondary">
                                                    <use xlink:href="assets/img/yt2/sprite.svg#star"></use>
                                                </svg>
                                                <svg role="img" class="h-3 w-3 fill-secondary">
                                                    <use xlink:href="assets/img/yt2/sprite.svg#star"></use>
                                                </svg>
                                                <svg role="img" class="h-3 w-3 fill-secondary">
                                                    <use xlink:href="assets/img/yt2/sprite.svg#star"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="basis-full md:basis-auto"><a href="#"
                                                                             class="inline-flex text-center items-center font-bold leading-none transition-colors justify-center gap-x-3 py-4 md:py-[17px] px-5 lg:px-10 text-white bg-accent hover:bg-accent/90 w-full px-5 lg:px-10 xl:px-12 text-sm">Get
                                        Deal!</a></div>
                                </div>
                                <div class="xl:text-lg xl:tracking-tight xl:leading-8">We tested this product and it is
                                    really incredible! Here you can paste a description of the product or even a
                                    testimonial or review from you.
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col gap-8 sm:flex-row">
                            <figure class="shrink-0"><a href="#"><img class="w-28 md:w-36 lg:w-40 xl:w-auto"
                                                                      src="assets/img/yt2/samples/affiliate-product-2.jpg"
                                                                      alt=""></a></figure>
                            <div class="flex-1">
                                <div class="flex flex-wrap justify-between gap-6 mb-6 lg:mb-0">
                                    <div class="lg:mb-5">
                                        <hgroup class="-mt-1"><h3
                                                class="text-xl lg:text-1.5xl font-bold text-primary dark:text-white leading-none tracking-tight mb-1">
                                            Personal Box Subscription</h3>
                                            <p class="font-bold uppercase text-accent text-sm mb-3">Use code "UNBX" for
                                                $5 off your order</p></hgroup>
                                        <div class="relative text-sm leading-none">
                                            <div class="inline-flex gap-1">
                                                <svg role="img" class="h-3 w-3 fill-gray-200 dark:fill-white/20">
                                                    <use xlink:href="assets/img/yt2/sprite.svg#star"></use>
                                                </svg>
                                                <svg role="img" class="h-3 w-3 fill-gray-200 dark:fill-white/20">
                                                    <use xlink:href="assets/img/yt2/sprite.svg#star"></use>
                                                </svg>
                                                <svg role="img" class="h-3 w-3 fill-gray-200 dark:fill-white/20">
                                                    <use xlink:href="assets/img/yt2/sprite.svg#star"></use>
                                                </svg>
                                                <svg role="img" class="h-3 w-3 fill-gray-200 dark:fill-white/20">
                                                    <use xlink:href="assets/img/yt2/sprite.svg#star"></use>
                                                </svg>
                                                <svg role="img" class="h-3 w-3 fill-gray-200 dark:fill-white/20">
                                                    <use xlink:href="assets/img/yt2/sprite.svg#star"></use>
                                                </svg>
                                            </div>
                                            <div class="absolute left-0 top-0 inline-flex gap-1">
                                                <svg role="img" class="h-3 w-3 fill-secondary">
                                                    <use xlink:href="assets/img/yt2/sprite.svg#star"></use>
                                                </svg>
                                                <svg role="img" class="h-3 w-3 fill-secondary">
                                                    <use xlink:href="assets/img/yt2/sprite.svg#star"></use>
                                                </svg>
                                                <svg role="img" class="h-3 w-3 fill-secondary">
                                                    <use xlink:href="assets/img/yt2/sprite.svg#star"></use>
                                                </svg>
                                                <svg role="img" class="h-3 w-3 fill-secondary">
                                                    <use xlink:href="assets/img/yt2/sprite.svg#star"></use>
                                                </svg>
                                                <svg role="img" class="h-3 w-3 fill-secondary">
                                                    <use xlink:href="assets/img/yt2/sprite.svg#star"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="basis-full md:basis-auto"><a href="#"
                                                                             class="inline-flex text-center items-center font-bold leading-none transition-colors justify-center gap-x-3 py-4 md:py-[17px] px-5 lg:px-10 text-white bg-accent hover:bg-accent/90 w-full px-5 lg:px-10 xl:px-12 text-sm">Get
                                        Deal!</a></div>
                                </div>
                                <div class="xl:text-lg xl:tracking-tight xl:leading-8">We tested this product and it is
                                    really incredible! Here you can paste a description of the product or even a
                                    testimonial or review from you.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="absolute inset-x-0 bottom-0 h-24 bg-gradient-to-b from-transparent to-[rgba(0,0,0,0.022)] dark:to-[rgba(0,0,0,0.08)]"></div>
</main>

<section>
    <div class="mx-auto max-w-[1360px] px-5 pb-20 md:pb-24 lg:pb-[150px]">
        <div class="relative min-h-[220px] bg-[url('../../../assets/img/str1/countdown-bg.jpg')] bg-cover bg-no-repeat">
            <div class="container relative z-10 text-white">
                <div class="grid grid-cols-12 gap-x-5 gap-y-8 py-7 px-2 md:gap-x-6 lg:gap-y-12 lg:gap-x-7.5 lg:py-11 lg:px-0">
                    <div class="col-span-full md:col-span-5 md:col-start-3 xl:-ml-7.5">
                        <div class="text-lg font-bold">Next Stream</div>
                        <h3 class="mb-3 text-2xl font-bold leading-none md:text-2.5xl lg:mb-4 lg:text-4xl xl:text-[42px]">
                            Let’s Play: Witch Hunters</h3>
                        <div class="text-base font-medium leading-normal">I’ll be playing the new DLC for Witch Hunters
                            story mode. I’ll be with guest streamer Game-Huntress. See you there!
                        </div>
                    </div>
                    <div class="col-span-full flex flex-wrap items-center justify-center gap-y-4 self-center md:col-span-4 md:col-start-9 lg:gap-y-0">
                        <div class="js-vv-countdown-container mb-4 grid w-full basis-full grid-cols-4 font-bold lg:mb-5 xl:pt-2.5 [&amp;>div]:before:absolute [&amp;>div]:before:-left-0.5 [&amp;>div]:before:top-0 [&amp;>div]:before:text-xl [&amp;>div]:before:content-[':'] [&amp;>div]:md:before:text-3xl [&amp;>div]:lg:before:-left-1 [&amp;>div]:xl:before:text-[42px] [&amp;>div]:xl:before:leading-none [&amp;>div:first-child]:before:hidden">
                            <div class="relative flex flex-col items-center">
                                <div class="js-vv-days text-xl md:text-3xl xl:mb-1 xl:text-[42px] xl:leading-none">00
                                </div>
                                <div class="days-label leading-none">Days</div>
                            </div>
                            <div class="relative flex flex-col items-center">
                                <div class="js-vv-hours text-xl md:text-3xl xl:mb-1 xl:text-[42px] xl:leading-none">00
                                </div>
                                <div class="hours-label leading-none">Hours</div>
                            </div>
                            <div class="relative flex flex-col items-center">
                                <div class="js-vv-minutes text-xl md:text-3xl xl:mb-1 xl:text-[42px] xl:leading-none">
                                    00
                                </div>
                                <div class="minutes-label leading-none">Mins</div>
                            </div>
                            <div class="relative flex flex-col items-center">
                                <div class="js-vv-seconds text-xl md:text-3xl xl:mb-1 xl:text-[42px] xl:leading-none">
                                    00
                                </div>
                                <div class="seconds-label leading-none">Secs</div>
                            </div>
                        </div>
                        <div class="js-vv-countdown-progress h-2 basis-full overflow-hidden rounded-full bg-gray-900">
                            <div class="js-vv-countdown-progress-bar h-full rounded-full bg-accent"
                                 style="width: 101%;">test
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="absolute inset-0 z-[1] bg-black mix-blend-color"></div>
            <div class="absolute inset-0 z-[2] bg-primary mix-blend-multiply"></div>
            <div class="absolute inset-0 z-[3] bg-gray-900 mix-blend-screen"></div>
            <img class="pointer-events-none absolute -left-8 bottom-0 z-[4] hidden md:block"
                 src="assets/img/str1/countdown-hero.png" alt=""></div>
    </div>
</section>


<section class="pb-20 pt-4 md:pb-24 lg:pb-[130px] lg:pt-6">
    <div class="container">
        <div class="grid grid-cols-12 gap-x-5 gap-y-12 md:gap-x-6 lg:gap-x-7.5">
            <div class="col-span-full grid grid-cols-7 gap-x-5 sm:grid-rows-[197px_107px_85px] md:col-span-7 md:grid-rows-[152px_83px_66px] md:gap-x-6 lg:grid-rows-[197px_107px_85px] lg:gap-x-7.5 xl:grid-rows-[246px_134px_106px]">
                <figure class="col-span-full sm:row-start-1 sm:row-end-3"><img class="w-full sm:w-auto"
                                                                               src="assets/img/str1/samples/about-1-668x380.jpg"
                                                                               alt=""></figure>
                <figure class="relative col-span-full sm:col-span-5 sm:col-start-3 sm:row-start-2 sm:row-end-4 sm:pl-3 sm:pr-10">
                    <img class="w-full sm:w-auto sm:shadow-[0_0_60px_0_rgba(0,0,0,.4)]"
                         src="assets/img/str1/samples/about-2-420x240.jpg" alt="">
                    <div class="bg-social-twitch absolute -left-8 top-1/2 hidden aspect-square w-20 -translate-y-2/3 items-center justify-center rounded-full text-white shadow-[0_0_60px_0_rgba(0,0,0,.4)] before:absolute before:-left-1 before:bottom-0 before:h-0 before:w-0 before:rotate-[52deg] before:border-l-[12px] before:border-r-[12px] before:border-t-[20px] before:border-l-transparent before:border-r-transparent before:border-t-primary sm:flex">
                        <svg class="aspect-square w-10" fill="currentColor">
                            <use xlink:href="assets/img/social-icons.svg#twitch"></use>
                        </svg>
                    </div>
                </figure>
            </div>
            <div class="col-span-full md:col-span-5">
                <div class="md:-ml-[76px] lg:-ml-[100px] xl:-ml-[130px]"><h2
                        class="mb-8 text-2xl font-bold tracking-tighter text-gray-900 dark:text-white sm:mb-9 sm:text-3xl md:-mt-[0.6em] md:mb-10 md:text-4xl md:leading-none lg:-mt-[0.6em] lg:mb-12 lg:text-5xl lg:leading-none xl:-mt-[0.7em] xl:mb-14 xl:text-[62px] xl:leading-none">
                    <span class="inline-block md:block">Reliving the Magic of</span> <span
                        class="inline-block md:block xl:-mt-2"><span class="text-accent">Retro</span> &amp; <span
                        class="text-accent">Arcade Games</span></span></h2></div>
                <div class="md:pl-4 md:pr-2 lg:px-7 xl:pr-[70px] xl:pl-10 [&amp;_p]:mb-8"><p>Twitch is a live streaming
                    video platform owned by Twitch Interactive, a subsidiary of Amazon. Introduced in June 2011 as a
                    spin-off.</p>
                    <p>The site primarily focuses on video game live streaming, including broadcasts of eSports
                        competitions, in addition to music broadcasts, creative content, and more recently, "in real
                        life" streams. Content on the site can be viewed either live or via video on demand.</p></div>
            </div>
        </div>
    </div>
</section>


<section class="pb-20 pt-4 md:pb-24 lg:pb-[130px] lg:pt-6">
    <div class="container">
        <div class="mb-10 md:mb-12 lg:mb-16 xl:mb-20"><h2
                class="text-2.5xl font-bold tracking-tighter text-gray-900 before:text-accent before:content-['.'] dark:text-white sm:text-3.5xl md:text-4xl lg:text-[62px] lg:leading-none">
            Featured Streams</h2></div>
        <div class="grid grid-cols-12 gap-5 md:gap-6 lg:gap-7.5 mb-7.5">
            <figure class="col-span-full md:row-start-1 md:row-end-2 lg:col-span-8 lg:row-start-1 lg:row-end-3"><a
                    class="group relative block h-full overflow-hidden bg-gray-900 glightbox"
                    href="https://player.twitch.tv/?video=1703307874&amp;parent=valkivid.dan-fisher.dev"><img
                    class="aspect-[77/46] w-full object-cover transition-all duration-300 group-hover:scale-110 group-hover:opacity-75"
                    src="assets/img/str1/samples/video-2-770x460.jpg" alt="I Play the Witch Hunters Story Mode!">
                <div class="absolute inset-0 bg-black/60"></div>
                <span class="absolute top-1/2 left-1/2 flex aspect-square -translate-x-2/4 -translate-y-2/4 items-center justify-center w-10"><svg
                        role="img" class="fill-white aspect-[18/22] ml-[2px] w-6"><use
                        xlink:href="assets/img/yt1/sprite.svg#play"></use></svg></span>
                <div class="absolute flex inset-x-5 xl:inset-x-6 top-5 xl:top-6 gap-x-3">
                    <figure class="shrink-0"><img class="w-10 object-cover aspect-square"
                                                  src="assets/img/str1/samples/stream-avatar-40x40.jpg" alt=""></figure>
                    <div class="flex-1 leading-tight min-w-0"><h6 class="font-bold text-white truncate w-full">I Play
                        the
                        Witch Hunters Story Mode!</h6>
                        <time class="text-gray text-sm" datetime="2023-03-01 21:30">January 3rd, 2023</time>
                    </div>
                </div>
            </a></figure>
            <figure class="col-span-full md:row-start-2 md:row-end-2 md:col-span-6 lg:col-span-4 lg:row-start-1 lg:row-end-2">
                <a class="group relative block h-full overflow-hidden bg-gray-900 glightbox"
                   href="https://player.twitch.tv/?video=1703307874&amp;parent=valkivid.dan-fisher.dev"><img
                        class="aspect-[370/215] w-full object-cover transition-all duration-300 group-hover:scale-110 group-hover:opacity-75"
                        src="assets/img/str1/samples/video-4-370x215.jpg" alt="I Play the Witch Hunters Story Mode!">
                    <div class="absolute inset-0 bg-black/60"></div>
                    <span class="absolute top-1/2 left-1/2 flex aspect-square -translate-x-2/4 -translate-y-2/4 items-center justify-center w-10"><svg
                            role="img" class="fill-white aspect-[18/22] ml-[2px] w-6"><use
                            xlink:href="assets/img/yt1/sprite.svg#play"></use></svg></span>
                    <div class="absolute flex inset-x-5 xl:inset-x-6 top-5 xl:top-6 gap-x-3">
                        <figure class="shrink-0"><img class="w-10 object-cover aspect-square"
                                                      src="assets/img/str1/samples/stream-avatar-40x40.jpg" alt="">
                        </figure>
                        <div class="flex-1 leading-tight min-w-0"><h6 class="font-bold text-white truncate w-full">First
                            Play: Zodiac Goddess</h6>
                            <time class="text-gray text-sm" datetime="2023-03-01 21:30">December 17th, 2022</time>
                        </div>
                    </div>
                </a></figure>
            <figure class="col-span-full md:row-start-2 md:row-end-2 md:col-span-6 lg:col-span-4 lg:row-start-2 lg:row-end-3">
                <a class="group relative block h-full overflow-hidden bg-gray-900 glightbox"
                   href="https://player.twitch.tv/?video=1703307874&amp;parent=valkivid.dan-fisher.dev"><img
                        class="aspect-[370/215] w-full object-cover transition-all duration-300 group-hover:scale-110 group-hover:opacity-75"
                        src="assets/img/str1/samples/video-8-370x215.jpg" alt="I Play the Witch Hunters Story Mode!">
                    <div class="absolute inset-0 bg-black/60"></div>
                    <span class="absolute top-1/2 left-1/2 flex aspect-square -translate-x-2/4 -translate-y-2/4 items-center justify-center w-10"><svg
                            role="img" class="fill-white aspect-[18/22] ml-[2px] w-6"><use
                            xlink:href="assets/img/yt1/sprite.svg#play"></use></svg></span>
                    <div class="absolute flex inset-x-5 xl:inset-x-6 top-5 xl:top-6 gap-x-3">
                        <figure class="shrink-0"><img class="w-10 object-cover aspect-square"
                                                      src="assets/img/str1/samples/stream-avatar-40x40.jpg" alt="">
                        </figure>
                        <div class="flex-1 leading-tight min-w-0"><h6 class="font-bold text-white truncate w-full">
                            Mochi’s
                            Island CHARITY SPEEDRUN</h6>
                            <time class="text-gray text-sm" datetime="2023-03-01 21:30">October 22nd, 2022</time>
                        </div>
                    </div>
                </a></figure>
        </div>
        <div class="grid grid-cols-12 gap-5 md:gap-6 lg:gap-7.5">
            <div class="col-span-full md:col-span-6">
                <div class="relative isolate w-full aspect-[57/16] flex bg-accent text-gray-900 overflow-hidden justify-between items-center">
                    <div class="leading-tight pl-5 lg:pl-8 xl:pl-10 xl:pb-2 lg:pb-3 flex-1">
                        <div class="font-bold text-base leading-none sm:text-lg md:text-base md:leading-none lg:text-lg mb-1.5 xl:mb-2.5">
                            Want to see more? Check out
                        </div>
                        <h4 class="font-bold text-2xl sm:text-3xl md:text-2xl md:leading-none leading-none lg:text-3xl xl:text-[42px]">
                            All Stream Videos</h4></div>
                    <img class="absolute -z-10 right-0 top-0 bottom-0 object-cover object-left max-w-[39%]"
                         src="assets/img/str1/samples/stream-banner-1.png" alt=""> <a href="#"
                                                                                      class="block absolute inset-0"></a>
                </div>
            </div>
            <div class="col-span-full md:col-span-6">
                <div class="relative isolate w-full aspect-[57/16] flex bg-social-twitch text-white overflow-hidden justify-between items-center">
                    <div class="leading-tight pl-5 lg:pl-8 xl:pl-10 xl:pb-2 lg:pb-3 flex-1">
                        <div class="font-bold text-base leading-none sm:text-lg md:text-base md:leading-none lg:text-lg mb-1.5 xl:mb-2.5">
                            Subscribe to my channel!
                        </div>
                        <h4 class="font-bold text-2xl sm:text-3xl md:text-2xl md:leading-none leading-none lg:text-3xl xl:text-[42px]">
                            @NekoMaGiX</h4></div>
                    <img class="absolute -z-10 right-0 top-0 bottom-0 object-cover object-left max-w-[27%]"
                         src="assets/img/str1/stream-banner-2.png" alt=""> <a href="#"
                                                                              class="block absolute inset-0"></a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pb-20 pt-4 md:pb-24 lg:pb-[130px] lg:pt-6">
    <main id="main-content" class="grow lg:pt-0">
        <div class="pt-12 pb-20 lg:pb-44 lg:pt-24 xl:pt-[105px]">

            <div class="container">

                <div class="not-prose flex flex-row mb-9 sm:mb-12 md:mb-14 lg:mb-16 xl:mb-20 justify-between items-end">
                    <div class="flex flex-col">
                        <div class="text-base font-medium uppercase tracking-tight text-primary md:text-lg lg:text-xl xl:text-1.5xl">
                            Stream
                        </div>
                        <h2 class="font-bold uppercase leading-none tracking-tighter text-gray-900 before:inline-block before:text-primary before:content-['.'] before:mr-[0.15em] dark:text-white text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-5.5xl">
                            Schedule</h2></div>
                </div>
                <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-7 gap-y-7 gap-x-5">
                    <div class="flex flex-col"><h5
                            class="text-gray-900 dark:text-white font-bold uppercase tracking-tighter text-base leading-none mb-4">
                        Mondays</h5>
                        <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-primary">
                            <div class="font-bold uppercase leading-none tracking-tighter mb-0.5 text-xl md:text-2xl xl:text-3xl xl:mb-1.5">
                                <span class="text-primary">10:00</span><span
                                    class="text-gray-900 dark:text-white">PM</span></div>
                            <div class="text-gray-600 text-sm uppercase font-bold tracking-tighter leading-none lg:text-base lg:leading-none">
                                Eastern DT
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col"><h5
                            class="text-gray-900 dark:text-white font-bold uppercase tracking-tighter text-base leading-none mb-4">
                        Tuesdays</h5>
                        <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-gray-100 dark:border-gray-675">
                            <div class="font-bold uppercase leading-none tracking-tighter text-xl md:text-2xl lg:text-2.5xl xl:text-3xl text-gray-600">
                                -
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col"><h5
                            class="text-gray-900 dark:text-white font-bold uppercase tracking-tighter text-base leading-none mb-4">
                        Wednesdays</h5>
                        <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-primary">
                            <div class="font-bold uppercase leading-none tracking-tighter mb-0.5 text-xl md:text-2xl xl:text-3xl xl:mb-1.5">
                                <span class="text-primary">9:00</span><span
                                    class="text-gray-900 dark:text-white">PM</span></div>
                            <div class="text-gray-600 text-sm uppercase font-bold tracking-tighter leading-none lg:text-base lg:leading-none">
                                Eastern DT
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col"><h5
                            class="text-gray-900 dark:text-white font-bold uppercase tracking-tighter text-base leading-none mb-4">
                        Thursdays</h5>
                        <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-primary">
                            <div class="font-bold uppercase leading-none tracking-tighter mb-0.5 text-xl md:text-2xl xl:text-3xl xl:mb-1.5">
                                <span class="text-primary">10:00</span><span
                                    class="text-gray-900 dark:text-white">PM</span></div>
                            <div class="text-gray-600 text-sm uppercase font-bold tracking-tighter leading-none lg:text-base lg:leading-none">
                                Eastern DT
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col"><h5
                            class="text-gray-900 dark:text-white font-bold uppercase tracking-tighter text-base leading-none mb-4">
                        Fridays</h5>
                        <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-primary">
                            <div class="font-bold uppercase leading-none tracking-tighter mb-0.5 text-xl md:text-2xl xl:text-3xl xl:mb-1.5">
                                <span class="text-primary">9:00</span><span
                                    class="text-gray-900 dark:text-white">PM</span></div>
                            <div class="text-gray-600 text-sm uppercase font-bold tracking-tighter leading-none lg:text-base lg:leading-none">
                                Eastern DT
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col"><h5
                            class="text-gray-900 dark:text-white font-bold uppercase tracking-tighter text-base leading-none mb-4">
                        Saturdays</h5>
                        <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-primary">
                            <div class="font-bold uppercase leading-none tracking-tighter mb-0.5 text-xl md:text-2xl xl:text-3xl xl:mb-1.5">
                                <span class="text-primary">9:30</span><span
                                    class="text-gray-900 dark:text-white">PM</span></div>
                            <div class="text-gray-600 text-sm uppercase font-bold tracking-tighter leading-none lg:text-base lg:leading-none">
                                Eastern DT
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col"><h5
                            class="text-gray-900 dark:text-white font-bold uppercase tracking-tighter text-base leading-none mb-4">
                        Sundays</h5>
                        <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-gray-100 dark:border-gray-675">
                            <div class="font-bold uppercase leading-none tracking-tighter text-xl md:text-2xl lg:text-2.5xl xl:text-3xl text-gray-600">
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>