<div class="mx-auto max-w-[1500px] px-5">
    <div class="grid grid-cols-12 gap-5">
        <div class="col-span-full md:col-span-6">

            <div class="relative isolate flex aspect-[72/31] sm:aspect-[72/28] lg:aspect-[72/30] xl:aspect-[72/26] w-full items-center overflow-hidden bg-[#953fff]"
            style="background-color: rgb(27 27 28 / var(--tw-bg-opacity));">
                <div class="flex flex-col gap-y-3 sm:gap-y-4 md:gap-y-5 lg:gap-y-7 xl:gap-y-9 items-start w-2/3 pl-5 sm:pl-7 leading-tight lg:pl-8 lg:pb-3 xl:pl-12 xl:pb-2">
                    <h4 class="text-xl font-bold leading-none tracking-tight text-white sm:text-3xl md:text-2xl md:leading-none lg:text-3xl xl:text-[38px]">
                        Your favorite streamers playing your favorites games</h4>
                    <a href="/streamers/"
                       class="inline-flex text-center items-center font-bold leading-none transition-colors justify-center gap-x-3 py-4 px-4 md:py-[17px] lg:px-8 text-sm text-white bg-transparent hover:bg-white hover:text-gray-900 border-2 border-white">
                        Watch on Twitch

                    </a>
                </div>

                <img class="absolute right-0 top-0 -z-10 block h-full max-w-[50%] lg:max-w-[45%] object-cover object-right"
                     src="/media/template/promo-4.png" alt="">
            </div>

        </div>

        <div class="col-span-full md:col-span-6">

            <div class="relative isolate flex aspect-[72/31] sm:aspect-[72/28] lg:aspect-[72/30] xl:aspect-[72/26] w-full items-center overflow-hidden bg-secondary"
                 style="background-color: rgb(249 67 127 / var(--tw-bg-opacity));">
                <div class="flex flex-col gap-y-3 sm:gap-y-4 md:gap-y-5 lg:gap-y-7 xl:gap-y-9 items-start w-2/3 pl-5 sm:pl-7 leading-tight lg:pl-8 lg:pb-3 xl:pl-12 xl:pb-2">
                    <h4 class="text-xl font-bold leading-none tracking-tight text-primary sm:text-3xl md:text-2xl md:leading-none lg:text-3xl xl:text-[38px]">
                        News & articles<br/>about everything Witcher related</h4>
                    <a href="#"
                       class="inline-flex text-center items-center font-bold leading-none transition-colors justify-center gap-x-3 py-4 px-4 md:py-[17px] lg:px-8 text-sm text-primary bg-transparent hover:bg-primary hover:text-white border-2 border-primary">
                        Read more on Novigrad Journal

                    </a>
                </div>

                <img class="absolute right-0 top-0 -z-10 block h-full max-w-[45%] object-cover object-right"
                     src="/media/template/promo-3.png" alt="">
            </div>

        </div>
    </div>
</div>