{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}antialiased tracking-tight font-base text-gray-500 text-base h-full bg-white dark:bg-gray-900 overflow-x-hidden{% endblock %}

{% block name %}
Streamer
{% endblock%}

{% block breadcrumb %}
Streamer
{% endblock%}


{% block extra_css %}
<link href="{% static 'css/str2-short.css' %}" rel="stylesheet">
<link href="{% static 'css/yt2-short.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<main id="main-content" class="grow lg:pt-0">

{% with item=schedule.specific %}
    <section class="pt-14 pb-24 lg:pt-[120px] lg:pb-[220px]">
        <div class="container">


            <article class="grid-col-4 grid gap-x-4 md:grid-cols-12 md:gap-x-6 lg:gap-x-[30px]">

                <header class="col-span-full mb-4 flex flex-col items-center gap-y-6 md:col-start-3 md:col-end-11 md:mb-6">
                    <a class="bg-accent px-3 py-1 text-xs font-bold uppercase leading-snug text-white transition-colors hover:bg-accent/90 md:text-sm"
                       href="#">
                        {{ item.streamer.Language }} Twitch streamer
                    </a>
                    <h1 class="pb-1 text-center text-2xl font-bold leading-tight tracking-tighter text-primary dark:text-white md:text-3xl lg:px-8 lg:text-5xl lg:leading-none">
                        {{ page.title }}
                    </h1>

                </header>

            </article>
        </div>

        <div class="container">

            <script src="https://player.twitch.tv/js/embed/v1.js"></script>
            <div id="streamPlayer" class="w-full aspect-[585/323] mb-6 lg:mb-7.5"></div>
            <script type="text/javascript">
  var options = {
    channel: "{{ item.streamer.TwitchName }}",
    parent: ["bloodrush.gg"],
    width: '100%',
    height: '100%',
  };
  var player = new Twitch.Player("streamPlayer", options);
  player.setVolume(0.5);

            </script>


            <div class="not-prose flex flex-row mb-9 sm:mb-12 md:mb-14 lg:mb-16 xl:mb-20 justify-between items-end">
                <div class="flex flex-col">
                    <div class="text-base font-medium uppercase tracking-tight text-primary md:text-lg lg:text-xl xl:text-1.5xl">
                        Watch on <a href="{{ item.streamer.TwitchLink }}">Twitch @{{ item.streamer.TwitchName }}</a>
                    </div>
                    <h2 class="font-bold uppercase leading-none tracking-tighter text-gray-900 before:inline-block before:text-primary before:content-['.'] before:mr-[0.15em] dark:text-white text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-5.5xl">
                        {{ item.nick }}</h2>
                </div>

            </div>

<!--            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-7 gap-y-7 gap-x-5">-->

<!--                <div class="flex flex-col">-->
<!--                    <h5 class="text-gray-900 dark:text-white font-bold uppercase tracking-tighter text-base leading-none mb-4">-->
<!--                        Mondays</h5>-->
<!--                    {% if item.isMonday %}-->
<!--                    <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-primary">-->
<!--                        <div class="font-bold uppercase leading-none tracking-tighter mb-0.5 text-xl md:text-2xl xl:text-3xl xl:mb-1.5">-->
<!--                            <span class="text-primary">{{ item.hourMonday }}</span><span-->
<!--                                class="text-gray-900 dark:text-white">PM</span>-->
<!--                        </div>-->
<!--                        <div class="text-gray-600 text-sm uppercase font-bold tracking-tighter leading-none lg:text-base lg:leading-none">-->
<!--                            {{ item.timezone }}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% else %}-->
<!--                    <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-gray-100 dark:border-gray-675">-->
<!--                        <div class="font-bold uppercase leading-none tracking-tighter text-xl md:text-2xl lg:text-2.5xl xl:text-3xl text-gray-600">-->
<!--                            - -->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--                <div class="flex flex-col">-->
<!--                    <h5 class="text-gray-900 dark:text-white font-bold uppercase tracking-tighter text-base leading-none mb-4">-->
<!--                        Tuesdays</h5>-->
<!--                    {% if item.isTuesday %}-->
<!--                    <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-primary">-->
<!--                        <div class="font-bold uppercase leading-none tracking-tighter mb-0.5 text-xl md:text-2xl xl:text-3xl xl:mb-1.5">-->
<!--                            <span class="text-primary">{{ item.hourTuesday }}</span><span-->
<!--                                class="text-gray-900 dark:text-white">PM</span>-->
<!--                        </div>-->
<!--                        <div class="text-gray-600 text-sm uppercase font-bold tracking-tighter leading-none lg:text-base lg:leading-none">-->
<!--                            {{ item.timezone }}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% else %}-->
<!--                    <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-gray-100 dark:border-gray-675">-->
<!--                        <div class="font-bold uppercase leading-none tracking-tighter text-xl md:text-2xl lg:text-2.5xl xl:text-3xl text-gray-600">-->
<!--                            - -->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--                <div class="flex flex-col">-->
<!--                    <h5 class="text-gray-900 dark:text-white font-bold uppercase tracking-tighter text-base leading-none mb-4">-->
<!--                        Wednesdays</h5>-->
<!--                    {% if item.isWednesday %}-->
<!--                    <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-primary">-->
<!--                        <div class="font-bold uppercase leading-none tracking-tighter mb-0.5 text-xl md:text-2xl xl:text-3xl xl:mb-1.5">-->
<!--                            <span class="text-primary">{{ item.hourWednesday }}</span><span-->
<!--                                class="text-gray-900 dark:text-white">PM</span>-->
<!--                        </div>-->
<!--                        <div class="text-gray-600 text-sm uppercase font-bold tracking-tighter leading-none lg:text-base lg:leading-none">-->
<!--                            {{ item.timezone }}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% else %}-->
<!--                    <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-gray-100 dark:border-gray-675">-->
<!--                        <div class="font-bold uppercase leading-none tracking-tighter text-xl md:text-2xl lg:text-2.5xl xl:text-3xl text-gray-600">-->
<!--                            - -->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--                <div class="flex flex-col">-->
<!--                    <h5 class="text-gray-900 dark:text-white font-bold uppercase tracking-tighter text-base leading-none mb-4">-->
<!--                        Thursdays</h5>-->
<!--                    {% if item.isThursday %}-->
<!--                    <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-primary">-->
<!--                        <div class="font-bold uppercase leading-none tracking-tighter mb-0.5 text-xl md:text-2xl xl:text-3xl xl:mb-1.5">-->
<!--                            <span class="text-primary">{{ item.hourThursday }}</span><span-->
<!--                                class="text-gray-900 dark:text-white">PM</span>-->
<!--                        </div>-->
<!--                        <div class="text-gray-600 text-sm uppercase font-bold tracking-tighter leading-none lg:text-base lg:leading-none">-->
<!--                            {{ item.timezone }}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% else %}-->
<!--                    <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-gray-100 dark:border-gray-675">-->
<!--                        <div class="font-bold uppercase leading-none tracking-tighter text-xl md:text-2xl lg:text-2.5xl xl:text-3xl text-gray-600">-->
<!--                            - -->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--                <div class="flex flex-col">-->
<!--                    <h5 class="text-gray-900 dark:text-white font-bold uppercase tracking-tighter text-base leading-none mb-4">-->
<!--                        Fridays</h5>-->
<!--                    {% if item.isFridays %}-->
<!--                    <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-primary">-->
<!--                        <div class="font-bold uppercase leading-none tracking-tighter mb-0.5 text-xl md:text-2xl xl:text-3xl xl:mb-1.5">-->
<!--                            <span class="text-primary">{{ item.hourFriday }}</span><span-->
<!--                                class="text-gray-900 dark:text-white">PM</span>-->
<!--                        </div>-->
<!--                        <div class="text-gray-600 text-sm uppercase font-bold tracking-tighter leading-none lg:text-base lg:leading-none">-->
<!--                            {{ item.timezone }}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% else %}-->
<!--                    <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-gray-100 dark:border-gray-675">-->
<!--                        <div class="font-bold uppercase leading-none tracking-tighter text-xl md:text-2xl lg:text-2.5xl xl:text-3xl text-gray-600">-->
<!--                            - -->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--                <div class="flex flex-col">-->
<!--                    <h5 class="text-gray-900 dark:text-white font-bold uppercase tracking-tighter text-base leading-none mb-4">-->
<!--                        Saturdays</h5>-->
<!--                    {% if item.isSaturday %}-->
<!--                    <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-primary">-->
<!--                        <div class="font-bold uppercase leading-none tracking-tighter mb-0.5 text-xl md:text-2xl xl:text-3xl xl:mb-1.5">-->
<!--                            <span class="text-primary">{{ item.hourSaturday }}</span><span-->
<!--                                class="text-gray-900 dark:text-white">PM</span>-->
<!--                        </div>-->
<!--                        <div class="text-gray-600 text-sm uppercase font-bold tracking-tighter leading-none lg:text-base lg:leading-none">-->
<!--                            {{ item.timezone }}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% else %}-->
<!--                    <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-gray-100 dark:border-gray-675">-->
<!--                        <div class="font-bold uppercase leading-none tracking-tighter text-xl md:text-2xl lg:text-2.5xl xl:text-3xl text-gray-600">-->
<!--                            - -->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--                <div class="flex flex-col">-->
<!--                    <h5 class="text-gray-900 dark:text-white font-bold uppercase tracking-tighter text-base leading-none mb-4">-->
<!--                        Sundays</h5>-->
<!--                    {% if item.isSunday %}-->
<!--                    <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-primary">-->
<!--                        <div class="font-bold uppercase leading-none tracking-tighter mb-0.5 text-xl md:text-2xl xl:text-3xl xl:mb-1.5">-->
<!--                            <span class="text-primary">{{ item.hourSunday }}</span><span-->
<!--                                class="text-gray-900 dark:text-white">PM</span>-->
<!--                        </div>-->
<!--                        <div class="text-gray-600 text-sm uppercase font-bold tracking-tighter leading-none lg:text-base lg:leading-none">-->
<!--                            {{ item.timezone }}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% else %}-->
<!--                    <div class="flex-1 flex flex-col justify-center items-center py-7 px-5 lg:min-h-[120px] xl:min-h-[150px] bg-gray-50 dark:bg-gray-700 border-b-[6px] border-gray-100 dark:border-gray-675">-->
<!--                        <div class="font-bold uppercase leading-none tracking-tighter text-xl md:text-2xl lg:text-2.5xl xl:text-3xl text-gray-600">-->
<!--                            - -->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--            </div>-->
<!--            <br/><br/>-->


            {% endwith %}


            <div class="h-16 md:h-20 lg:h-24 xl:h-40"></div>

<!--            <div class="mb-10 lg:mb-14 xl:mb-20">-->
<!--                <h2 class="font-bold text-primary dark:text-white text-2xl md:text-3xl lg:text-4xl xl:text-5xl lg:leading-none tracking-tight xl:tracking-tight">-->
<!--                    My Social Accounts!-->
<!--                </h2>-->
<!--            </div>-->

<!--            <ul class="grid grid-cols-12 gap-x-5 md:gap-x-6 gap-y-5 md:gap-y-6 lg:gap-x-7.5 lg:gap-y-7.5 vv-social-list-color lg:pt-2">-->
<!--                <li class="col-span-full sm:col-span-6 md:col-span-4 xl:col-span-2">-->
<!--                    <a class="flex items-center justify-center text-white py-5 gap-x-2.5 transition-transform hover:-translate-y-2 hover:shadow-md"-->
<!--                       href="#">-->
<!--                        <svg class="aspect-square w-4" fill="currentColor">-->
<!--                            <use xlink:href="{% static 'assets/img/social-icons.svg#facebook' %}"></use>-->
<!--                        </svg>-->
<!--                        <div class="text-center leading-tight">-->
<!--                            <div class="leading-tight font-bold">Facebook</div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="col-span-full sm:col-span-6 md:col-span-4 xl:col-span-2">-->
<!--                    <a class="flex items-center justify-center text-white py-5 gap-x-2.5 transition-transform hover:-translate-y-2 hover:shadow-md"-->
<!--                       href="#">-->
<!--                        <svg class="aspect-square w-4" fill="currentColor">-->
<!--                            <use xlink:href="{% static 'assets/img/social-icons.svg#twitter' %}"></use>-->
<!--                        </svg>-->
<!--                        <div class="text-center leading-tight">-->
<!--                            <div class="leading-tight font-bold">Twitter</div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="col-span-full sm:col-span-6 md:col-span-4 xl:col-span-2">-->
<!--                    <a class="flex items-center justify-center text-white py-5 gap-x-2.5 transition-transform hover:-translate-y-2 hover:shadow-md"-->
<!--                       href="#">-->
<!--                        <svg class="aspect-square w-4" fill="currentColor">-->
<!--                            <use xlink:href="{% static 'assets/img/social-icons.svg#instagram' %}"></use>-->
<!--                        </svg>-->
<!--                        <div class="text-center leading-tight">-->
<!--                            <div class="leading-tight font-bold">Instagram</div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="col-span-full sm:col-span-6 md:col-span-4 xl:col-span-2">-->
<!--                    <a class="flex items-center justify-center text-white py-5 gap-x-2.5 transition-transform hover:-translate-y-2 hover:shadow-md"-->
<!--                       href="#">-->
<!--                        <svg class="aspect-square w-4" fill="currentColor">-->
<!--                            <use xlink:href="{% static 'assets/img/social-icons.svg#twitch' %}"></use>-->
<!--                        </svg>-->
<!--                        <div class="text-center leading-tight">-->
<!--                            <div class="leading-tight font-bold">Twitch</div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="col-span-full sm:col-span-6 md:col-span-4 xl:col-span-2">-->
<!--                    <a class="flex items-center justify-center text-white py-5 gap-x-2.5 transition-transform hover:-translate-y-2 hover:shadow-md"-->
<!--                       href="#">-->
<!--                        <svg class="aspect-square w-4" fill="currentColor">-->
<!--                            <use xlink:href="{% static 'assets/img/social-icons.svg#youtube' %}"></use>-->
<!--                        </svg>-->
<!--                        <div class="text-center leading-tight">-->
<!--                            <div class="leading-tight font-bold">Youtube</div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="col-span-full sm:col-span-6 md:col-span-4 xl:col-span-2">-->
<!--                    <a class="flex items-center justify-center text-white py-5 gap-x-2.5 transition-transform hover:-translate-y-2 hover:shadow-md"-->
<!--                       href="#">-->
<!--                        <svg class="aspect-square w-4" fill="currentColor">-->
<!--                            <use xlink:href="{% static 'assets/img/social-icons.svg#discord' %}"></use>-->
<!--                        </svg>-->
<!--                        <div class="text-center leading-tight">-->
<!--                            <div class="leading-tight font-bold">Discord</div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->


        </div>


    </section>

</main>


{% endblock %}