{% load static wagtailcore_tags wagtailuserbar %}
<div class="header-wrapper bg-accent text-white relative z-30">
      <header id="site-header" class="text-white absolute inset-x-0 z-20">
        <div class="container">
          <nav class="flex min-h-[64px] justify-between py-1 lg:min-h-[90px] lg:py-4">
            <!-- Logo -->
            <div>
              <a href="/">
                 <img src="{% static 'images/logo.png' %}" alt="Bloodrush" class="logo-main">
              </a>
            </div>
            <!-- Logo / End -->

      {% include "navigation.html" %}



          </nav>
        </div>
      </header>