{% load static wagtailcore_tags wagtailuserbar %}
    <div class="header-wrapper bg-accent text-white">
      <header id="site-header" class="bg-accent text-white">
        <div class="container">
          <nav class="flex min-h-[64px] items-center py-1 lg:min-h-[90px] lg:py-4 lg:gap-x-6 xl:gap-x-10">
            <!-- Logo -->
            <div>
              <a href="/">
                 <img src="{% static 'images/logo.png' %}" alt="logo" width="400" height="100">
              </a>
            </div>
            <!-- Logo / End -->

      {% include "navigation.html" %}



          </nav>
        </div>
      </header>

