{% load static wagtailcore_tags wagtailuserbar %}
<!-- Mobile Menu -->
<div class="js-mobile-menu p-t-[64px] fixed left-0 top-[64px] z-50 block h-[calc(100dvh-64px)] w-full translate-x-full overflow-auto bg-white dark:bg-gray-800 py-5 text-primary dark:text-white transition-transform duration-300 lg:hidden">
    <div class="container">

        <!-- Navigation (Mobile) -->
        <ul class="text-md flex flex-col font-bold">
            <li class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200 dark:border-b-gray-200/10">
                <a class="flex-grow gap-x-1 py-4 leading-normal transition-colors hover:text-accent"
                   href="/">
                    Home
                </a>


            </li>

            <li class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200 dark:border-b-gray-200/10">
                <a class="flex-grow gap-x-1 py-4 leading-normal transition-colors hover:text-accent"
                   href="/blog/">
                    News
                </a>
            </li>


            <!--            <li class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200 dark:border-b-gray-200/10">-->
            <!--                <a-->
            <!--                        class="flex-grow gap-x-1 py-4 leading-normal transition-colors hover:text-accent"-->
            <!--                        href="#">Snapshots </a>-->
            <!--                <button class="js-mobile-submenu-toggle ml-auto inline-flex h-7 w-7 items-center justify-center transition-transform">-->
            <!--                    <svg role="img" class="sub-menu-toggle h-2 w-2 rotate-90 fill-primary dark:fill-white">-->
            <!--                        <use xlink:href="{% static 'assets/img/yt2/sprite.svg#arrow-right' %}"></use>-->
            <!--                    </svg>-->
            <!--                </button>-->
            <!--                <ul class="flex max-h-0 w-full flex-col overflow-hidden pl-4 text-sm transition-all duration-300 [&amp;>li:last-child]:pb-4">-->
            <!--                    <li class="flex flex-wrap items-center gap-x-4"><a-->
            <!--                            class="flex-grow gap-x-1 py-2 transition-colors hover:text-accent"-->
            <!--                            href="/snapshots/meta-snapshot-38/">Gwent</a></li>-->
            <!--                    <li class="flex flex-wrap items-center gap-x-4"><a-->
            <!--                            class="flex-grow gap-x-1 py-2 transition-colors hover:text-accent"-->
            <!--                            href="#">Marvel Snapshot</a></li>-->
            <!--                </ul>-->
            <!--            </li>-->

            <li class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200 dark:border-b-gray-200/10">
                <a
                        class="flex-grow gap-x-1 py-4 leading-normal transition-colors hover:text-accent"
                        href="#">Streams </a>
                <button class="js-mobile-submenu-toggle ml-auto inline-flex h-7 w-7 items-center justify-center transition-transform">
                    <svg role="img" class="sub-menu-toggle h-2 w-2 rotate-90 fill-primary dark:fill-white">
                        <use xlink:href="{% static 'assets/img/yt2/sprite.svg#arrow-right' %}"></use>
                    </svg>
                </button>
                <ul class="flex max-h-0 w-full flex-col overflow-hidden pl-4 text-sm transition-all duration-300 [&amp;>li:last-child]:pb-4">
                    <!--                    <li class="flex flex-wrap items-center gap-x-4"><a-->
                    <!--                            class="flex-grow gap-x-1 py-2 transition-colors hover:text-accent"-->
                    <!--                            href="/streamers/">Schedules</a></li>-->
                    <li class="flex flex-wrap items-center gap-x-4"><a
                            class="flex-grow gap-x-1 py-2 transition-colors hover:text-accent"
                            href="/streamers/">Streamers</a></li>

                    <li class="flex flex-wrap items-center gap-x-4">
                        <a class="flex-grow gap-x-1 py-2 transition-colors hover:text-accent"
                           href="https://www.youtube.com/@TheCookieBreak">
                            Cookie Break Podcast

                        </a>
                    </li>
                </ul>
            </li>

            <li class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200 dark:border-b-gray-200/10">
                <a class="flex-grow gap-x-1 py-4 leading-normal transition-colors hover:text-accent"
                   href="/events/">
                    Events & premiers
                </a>
            </li>


            <li class="flex flex-wrap items-center gap-x-4 border-b border-b-gray-200 dark:border-b-gray-200/10">
                <a
                        class="flex-grow gap-x-1 py-4 leading-normal transition-colors hover:text-accent"
                        href="#">About Us</a>
                <button class="js-mobile-submenu-toggle ml-auto inline-flex h-7 w-7 items-center justify-center transition-transform">
                    <svg role="img" class="sub-menu-toggle h-2 w-2 rotate-90 fill-primary dark:fill-white">
                        <use xlink:href="{% static 'assets/img/yt2/sprite.svg#arrow-right' %}"></use>
                    </svg>
                </button>
                <ul class="flex max-h-0 w-full flex-col overflow-hidden pl-4 text-sm transition-all duration-300 [&amp;>li:last-child]:pb-4">

                    <li class="flex flex-wrap items-center gap-x-4"><a
                            class="flex-grow gap-x-1 py-2 transition-colors hover:text-accent"
                            href="/streamers/">Contact</a></li>

                    <li class="flex flex-wrap items-center gap-x-4"><a
                            class="flex-grow gap-x-1 py-2 transition-colors hover:text-accent"
                            href="/about/">About Blood Rush</a></li>

                    <li class="flex flex-wrap items-center gap-x-4"><a
                            class="flex-grow gap-x-1 py-2 transition-colors hover:text-accent"
                            href="/blog/cookie-break/">About Cookie Break</a></li>
                </ul>
            </li>

        </ul>
        <!-- Navigation (Mobile) / End -->
    </div>
</div>
<!-- Mobile Menu / End -->