{% load static %}
<!-- MOBILE MENU WRAP -->
  <div class="mobile-menu-wrap">
    <!-- CROSS ICON -->
    <svg class="cross-icon big mobile-menu-close">
      <use xlink:href="#svg-cross-big"></use>
    </svg>
    <!-- /CROSS ICON -->

    <!-- SEARCH POPUP OPEN -->
    <svg class="search-popup-open search-icon">
      <use xlink:href="#svg-search"></use>
    </svg>
    <!-- /SEARCH POPUP OPEN -->

    <!-- LOGO IMG -->
    <figure class="logo-img">
      <img src="{% static 'img/brand/logo.png' %}" alt="Logo">
    </figure>
    <!-- /LOGO IMG -->

    <!-- MOBILE MENU -->
    <ul class="mobile-menu">
      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <a href="/" class="mobile-menu-item-link">Home</a>
      </li>
      <!-- /MOBILE MENU ITEM -->

      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <p class="mobile-menu-item-link pd-dropdown-handler">eSports</p>
        <!-- ARROW ICON -->
        <svg class="arrow-icon medium">
          <use xlink:href="#svg-arrow-medium"></use>
        </svg>
        <!-- /ARROW ICON -->

        <!-- MOBILE DROPDOWN -->
        <ul class="mobile-dropdown pd-dropdown">
          <!-- MOBILE DROPDOWN ITEM -->
          <li class="mobile-dropdown-item">
            <p class="mobile-dropdown-item-link pd-dropdown-handler">Main Pages</p>
            <!-- ARROW ICON -->
            <svg class="arrow-icon medium">
              <use xlink:href="#svg-arrow-medium"></use>
            </svg>
            <!-- /ARROW ICON -->

            <!-- MOBILE DROPDOWN -->
            <ul class="mobile-dropdown pd-dropdown">
              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="esports-home.html" class="mobile-dropdown-item-link">eSports Home</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="esports-news.html" class="mobile-dropdown-item-link">eSports News</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="esports-post.html" class="mobile-dropdown-item-link">eSports Post Page</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="esports-tournament.html" class="mobile-dropdown-item-link">Tournament Page</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->
            </ul>
            <!-- /MOBILE DROPDOWN -->
          </li>
          <!-- /MOBILE DROPDOWN ITEM -->

          <!-- MOBILE DROPDOWN ITEM -->
          <li class="mobile-dropdown-item">
            <p class="mobile-dropdown-item-link pd-dropdown-handler">Match Overviews</p>
            <!-- ARROW ICON -->
            <svg class="arrow-icon medium">
              <use xlink:href="#svg-arrow-medium"></use>
            </svg>
            <!-- /ARROW ICON -->

            <!-- MOBILE DROPDOWN -->
            <ul class="mobile-dropdown pd-dropdown">
              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="esports-match-overview-v1.html" class="mobile-dropdown-item-link">Match Overview V1</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="esports-match-overview-v2.html" class="mobile-dropdown-item-link">Match Overview V2</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="esports-match-overview-v3.html" class="mobile-dropdown-item-link">Match Overview V3</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="esports-match-overview-v4.html" class="mobile-dropdown-item-link">Match Overview V4</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->
            </ul>
            <!-- /MOBILE DROPDOWN -->
          </li>
          <!-- /MOBILE DROPDOWN ITEM -->

          <!-- MOBILE DROPDOWN ITEM -->
          <li class="mobile-dropdown-item">
            <p class="mobile-dropdown-item-link pd-dropdown-handler">Teams &amp; Players</p>
            <!-- ARROW ICON -->
            <svg class="arrow-icon medium">
              <use xlink:href="#svg-arrow-medium"></use>
            </svg>
            <!-- /ARROW ICON -->

            <!-- MOBILE DROPDOWN -->
            <ul class="mobile-dropdown pd-dropdown">
              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="esports-team.html" class="mobile-dropdown-item-link">eSports Team Page</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="esports-player.html" class="mobile-dropdown-item-link">eSports Player Page</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="esports-streamers.html" class="mobile-dropdown-item-link">Streamers Page</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="esports-calendar.html" class="mobile-dropdown-item-link">Scores with Calendar</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->
            </ul>
            <!-- /MOBILE DROPDOWN -->
          </li>
          <!-- /MOBILE DROPDOWN ITEM -->

          <!-- MOBILE DROPDOWN ITEM -->
          <li class="mobile-dropdown-item">
            <p class="mobile-dropdown-item-link pd-dropdown-handler">eSports Widgets</p>
            <!-- ARROW ICON -->
            <svg class="arrow-icon medium">
              <use xlink:href="#svg-arrow-medium"></use>
            </svg>
            <!-- /ARROW ICON -->

            <!-- MOBILE DROPDOWN -->
            <ul class="mobile-dropdown pd-dropdown">
              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="esports-widgets-v1.html" class="mobile-dropdown-item-link">Widgets Page 01</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="esports-widgets-v2.html" class="mobile-dropdown-item-link">Widgets Page 02</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="esports-widgets-v3.html" class="mobile-dropdown-item-link">Widgets Page 03</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->
            </ul>
            <!-- /MOBILE DROPDOWN -->
          </li>
          <!-- /MOBILE DROPDOWN ITEM -->
        </ul>
        <!-- /MOBILE DROPDOWN -->
      </li>
      <!-- /MOBILE MENU ITEM -->

      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <a href="news-v1.html" class="mobile-menu-item-link">News</a>
      </li>
      <!-- /MOBILE MENU ITEM -->

      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <p class="mobile-menu-item-link pd-dropdown-handler">Features</p>
        <!-- ARROW ICON -->
        <svg class="arrow-icon medium">
          <use xlink:href="#svg-arrow-medium"></use>
        </svg>
        <!-- /ARROW ICON -->

        <!-- MOBILE DROPDOWN -->
        <ul class="mobile-dropdown pd-dropdown">
          <!-- MOBILE DROPDOWN ITEM -->
          <li class="mobile-dropdown-item">
            <p class="mobile-dropdown-item-link pd-dropdown-handler">Pixel Main Features</p>
            <!-- ARROW ICON -->
            <svg class="arrow-icon medium">
              <use xlink:href="#svg-arrow-medium"></use>
            </svg>
            <!-- /ARROW ICON -->

            <!-- MOBILE DROPDOWN -->
            <ul class="mobile-dropdown pd-dropdown">
              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="index.html" class="mobile-dropdown-item-link">Main Homepage</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="home-v2.html" class="mobile-dropdown-item-link">Homepage V2</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="home-v3.html" class="mobile-dropdown-item-link">Homepage V3</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="news-v1.html" class="mobile-dropdown-item-link">News Page V1</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="news-v2.html" class="mobile-dropdown-item-link">News Page V2</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="news-v3.html" class="mobile-dropdown-item-link">News Page V3</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="news-v4.html" class="mobile-dropdown-item-link">News Page V4</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="post-v1.html" class="mobile-dropdown-item-link">Post Page V1</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="post-v2.html" class="mobile-dropdown-item-link">Post Page V2</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="post-v3.html" class="mobile-dropdown-item-link">Post Page V3</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="post-v4.html" class="mobile-dropdown-item-link">Post Page V4</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="browse-videos.html" class="mobile-dropdown-item-link">Browse Videos</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="post-video.html" class="mobile-dropdown-item-link">Video Post Page</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="search-results.html" class="mobile-dropdown-item-link">Search Results</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="calendar.html" class="mobile-dropdown-item-link">Events Calendar</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="event.html" class="mobile-dropdown-item-link">Open Event</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="404.html" class="mobile-dropdown-item-link">404 Error Page</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="shortcodes.html" class="mobile-dropdown-item-link">Shortcodes</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="menu-dropdowns.html" class="mobile-dropdown-item-link">Menu &amp; Dropdowns</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="headers-dividers.html" class="mobile-dropdown-item-link">Headers &amp; Dividers</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="pixel-popups.html" class="mobile-dropdown-item-link">Pixel Popups</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->
            </ul>
            <!-- /MOBILE DROPDOWN -->
          </li>
          <!-- /MOBILE DROPDOWN ITEM -->

          <!-- MOBILE DROPDOWN ITEM -->
          <li class="mobile-dropdown-item">
            <p class="mobile-dropdown-item-link pd-dropdown-handler">Account &amp; Company</p>
            <!-- ARROW ICON -->
            <svg class="arrow-icon medium">
              <use xlink:href="#svg-arrow-medium"></use>
            </svg>
            <!-- /ARROW ICON -->

            <!-- MOBILE DROPDOWN -->
            <ul class="mobile-dropdown pd-dropdown">
              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="login-register.html" class="mobile-dropdown-item-link">Login &amp; Register</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="login-register-popups.html" class="mobile-dropdown-item-link">Login &amp; Register Popups</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="account-settings.html" class="mobile-dropdown-item-link">Account Settings</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="orders-history.html" class="mobile-dropdown-item-link">Account Orders</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="faq.html" class="mobile-dropdown-item-link">FAQs Page</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="contact.html" class="mobile-dropdown-item-link">Contact Page</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="sponsors.html" class="mobile-dropdown-item-link">Sponsors Page</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->
            </ul>
            <!-- /MOBILE DROPDOWN -->
          </li>
          <!-- /MOBILE DROPDOWN ITEM -->

          <!-- MOBILE DROPDOWN ITEM -->
          <li class="mobile-dropdown-item">
            <p class="mobile-dropdown-item-link pd-dropdown-handler">Pixel Forums</p>
            <!-- ARROW ICON -->
            <svg class="arrow-icon medium">
              <use xlink:href="#svg-arrow-medium"></use>
            </svg>
            <!-- /ARROW ICON -->

            <!-- MOBILE DROPDOWN -->
            <ul class="mobile-dropdown pd-dropdown">
              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="forum.html" class="mobile-dropdown-item-link">Main Page</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="forum-categories.html" class="mobile-dropdown-item-link">Category Page</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="topic.html" class="mobile-dropdown-item-link">Main Topic</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="forum-badges.html" class="mobile-dropdown-item-link">Badges Big &amp; Small</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="profile-summary.html" class="mobile-dropdown-item-link">Profile Summary</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="profile-activity.html" class="mobile-dropdown-item-link">Profile Activity</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="profile-notifications.html" class="mobile-dropdown-item-link">Profile Notifications</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="profile-messages.html" class="mobile-dropdown-item-link">Profile Messages</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="profile-badges.html" class="mobile-dropdown-item-link">Profile Badges</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="profile-settings.html" class="mobile-dropdown-item-link">Profile Settings</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="forum-search-results.html" class="mobile-dropdown-item-link">Forum Results</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->
            </ul>
            <!-- /MOBILE DROPDOWN -->
          </li>
          <!-- /MOBILE DROPDOWN ITEM -->
        </ul>
        <!-- /MOBILE DROPDOWN -->
      </li>
      <!-- /MOBILE MENU ITEM -->



      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <p class="mobile-menu-item-link pd-dropdown-handler">
            <img class="widget-option-img user-avatar micro" src="{% static 'img/users/05.jpg' %}" alt="avatar-01">
            James_Spiegel
        </p>
        <!-- ARROW ICON -->
        <svg class="arrow-icon medium">
          <use xlink:href="#svg-arrow-medium"></use>
        </svg>
        <!-- /ARROW ICON -->

        <!-- MOBILE DROPDOWN -->
        <ul class="mobile-dropdown pd-dropdown">
          <!-- MOBILE DROPDOWN ITEM -->
          <li class="mobile-dropdown-item">
            <p class="mobile-dropdown-item-link pd-dropdown-handler">Main Account</p>
            <!-- ARROW ICON -->
            <svg class="arrow-icon medium">
              <use xlink:href="#svg-arrow-medium"></use>
            </svg>
            <!-- /ARROW ICON -->

            <!-- MOBILE DROPDOWN -->
            <ul class="mobile-dropdown pd-dropdown">
              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="account-settings.html" class="mobile-dropdown-item-link">Account Settings</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="#" class="mobile-dropdown-item-link">Shipping Details</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="#" class="mobile-dropdown-item-link">Billing Details</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="orders-history.html" class="mobile-dropdown-item-link">Orders History</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->
            </ul>
            <!-- /MOBILE DROPDOWN -->
          </li>
          <!-- /MOBILE DROPDOWN ITEM -->

          <!-- MOBILE DROPDOWN ITEM -->
          <li class="mobile-dropdown-item">
            <p class="mobile-dropdown-item-link pd-dropdown-handler">Pixel Forums</p>
            <!-- ARROW ICON -->
            <svg class="arrow-icon medium">
              <use xlink:href="#svg-arrow-medium"></use>
            </svg>
            <!-- /ARROW ICON -->

            <!-- MOBILE DROPDOWN -->
            <ul class="mobile-dropdown pd-dropdown">
              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="profile-summary.html" class="mobile-dropdown-item-link">Summary</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="profile-activity.html" class="mobile-dropdown-item-link">Activity</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="profile-notifications.html" class="mobile-dropdown-item-link">Notifications</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="profile-messages.html" class="mobile-dropdown-item-link">Messages</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="profile-badges.html" class="mobile-dropdown-item-link">Profile Badges</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->

              <!-- MOBILE DROPDOWN ITEM -->
              <li class="mobile-dropdown-item">
                <a href="profile-settings.html" class="mobile-dropdown-item-link">Settings</a>
              </li>
              <!-- /MOBILE DROPDOWN ITEM -->
            </ul>
            <!-- /MOBILE DROPDOWN -->
          </li>
          <!-- /MOBILE DROPDOWN ITEM -->
        </ul>
        <!-- /MOBILE DROPDOWN -->
      </li>
      <!-- /MOBILE MENU ITEM -->

      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <a href="wishlist.html" class="mobile-menu-item-link">Wishlist (<span class="quantity">5</span>)</a>
      </li>
      <!-- /MOBILE MENU ITEM -->

      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <a href="product-compare.html" class="mobile-menu-item-link">Compare (<span class="quantity">4</span>)</a>
      </li>
      <!-- /MOBILE MENU ITEM -->
    </ul>
    <!-- /MOBILE MENU -->
  </div>
  <!-- /MOBILE MENU WRAP -->