{% load static %}
<!-- NAVIGATION WRAP -->
  <nav class="navigation-wrap void stick-on-top">
    <!-- NAVIGATION -->
    <div class="navigation grid-limit">
      <!-- LOGO -->
      <div class="logo">
        <!-- LOGO IMG -->
        <figure class="logo-img">
          <img src="{% static 'img/brand/logo.png' %}" alt="Logo">
        </figure>
        <!-- /LOGO IMG -->

      </div>
      <!-- /LOGO -->

      <!-- SEARCH BUTTON -->
      <div class="search-button search-popup-open">
        <!-- SEARCH ICON -->
        <svg class="search-icon">
          <use xlink:href="#svg-search"></use>
        </svg>
        <!-- /SEARCH ICON -->
      </div>
      <!-- /SEARCH BUTTON -->

      <!-- MAIN MENU -->
      <ul class="main-menu">
        <!-- MAIN MENU ITEM -->
        <li class="main-menu-item">
          <a href="/" class="main-menu-item-link">Start</a>
        </li>
        <!-- /MAIN MENU ITEM -->

                <!-- MAIN MENU ITEM -->
        <li class="main-menu-item">
          <a href="#" class="main-menu-item-link">
            Games
            <!-- SVG ARROW -->
            <svg class="arrow-icon">
              <use xlink:href="#svg-arrow"></use>
            </svg>
            <!-- /SVG ARROW -->
          </a>

          <!-- SUBMENU -->
          <ul class="submenu void">
            <!-- SUBMENU ITEM -->
            <li class="submenu-item padded">
              <!-- LINK SECTIONS -->
              <div class="link-sections">
                <!-- LINK SECTION -->
                <div class="link-section">
                  <!-- SECTION TITLE WRAP -->
                  <div class="section-title-wrap blue">
                    <h2 class="section-title small">Gwent</h2>
                    <div class="section-title-separator"></div>
                  </div>
                  <!-- /SECTION TITLE WRAP -->

                  <!-- LINK LIST -->
                  <ul class="link-list">
                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->
                  </ul>
                  <!-- /LINK LIST -->

                  <!-- LINK LIST -->
                  <ul class="link-list">
                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->
                  </ul>
                  <!-- /LINK LIST -->

                  <!-- LINK LIST -->
                  <ul class="link-list">
                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Gwent page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->
                  </ul>
                  <!-- /LINK LIST -->
                </div>
                <!-- /LINK SECTION -->

                <!-- LINK SECTION -->
                <div class="link-section">
                  <!-- SECTION TITLE WRAP -->
                  <div class="section-title-wrap blue">
                    <h2 class="section-title small">Snap</h2>
                    <div class="section-title-separator"></div>
                  </div>
                  <!-- /SECTION TITLE WRAP -->

                  <!-- LINK LIST -->
                  <ul class="link-list">
                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Snap page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Snap page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Snap page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Snap page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Snap page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Snap page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Snap page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->
                  </ul>
                  <!-- /LINK LIST -->
                </div>
                <!-- /LINK SECTION -->

                <!-- LINK SECTION -->
                <div class="link-section">
                  <!-- SECTION TITLE WRAP -->
                  <div class="section-title-wrap red">
                    <h2 class="section-title small">Other games</h2>
                    <div class="section-title-separator"></div>
                  </div>
                  <!-- /SECTION TITLE WRAP -->

                  <!-- LINK LIST -->
                  <ul class="link-list">
                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Other page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Other page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Other page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Other page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Other page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Other page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Other page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->
                  </ul>
                  <!-- /LINK LIST -->

                  <!-- LINK LIST -->
                  <ul class="link-list">
                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Other page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Other page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Other page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->

                    <!-- LINK LIST ITEM -->
                    <li class="link-list-item">
                      <a href="/">Some Other page</a>
                    </li>
                    <!-- /LINK LIST ITEM -->
                  </ul>
                  <!-- /LINK LIST -->
                </div>
                <!-- /LINK SECTION -->
              </div>
              <!-- /LINK SECTIONS -->

              <!-- LINE SEPARATOR -->
              <div class="line-separator"></div>

              <!-- NEWS ITEMS PREVIEW -->
              <div class="news-items-preview">

                        {% for post in posts|slice:":4" %}
                        <!-- POST PREVIEW -->
                <div class="post-preview gaming-news">
                  <!-- POST PREVIEW IMG WRAP -->
                  <a href="/">
                    <div class="post-preview-img-wrap">
                      <!-- POST PREVIEW IMG -->
                      <figure class="post-preview-img liquid">
                        <img src="{% static 'img/posts/09.jpg' %}" alt="post-09">
                      </figure>
                      <!-- /POST PREVIEW IMG -->
                    </div>
                  </a>
                  <!-- /POST PREVIEW IMG WRAP -->

                  <!-- TAG ORNAMENT -->
                  <a href="/" class="tag-ornament">Gaming News</a>
                  <!-- /TAG ORNAMENT -->

                  <!-- POST PREVIEW TITLE -->
                  <a href="post-v1.html" class="post-preview-title">{{ post.title }}</a>
                  <!-- POST AUTHOR INFO -->
                  <div class="post-author-info-wrap">
                    <p class="post-author-info small light">By <a href="search-results.html" class="post-author">{{post.author}}</a><span class="separator">|</span>{{post.publish_date}}</p>
                  </div>
                  <!-- /POST AUTHOR INFO -->
                  <!-- POST PREVIEW TEXT -->
                  <p class="post-preview-text">{{ post.text }}</p>
                </div>
                <!-- /POST PREVIEW -->
        {% endfor %}


              </div>
              <!-- /NEWS ITEMS PREVIEW -->
            </li>
            <!-- /SUBMENU ITEM -->
          </ul>
          <!-- /SUBMENU -->
        </li>
        <!-- /MAIN MENU ITEM -->


        <!-- MAIN MENU ITEM -->
        <li class="main-menu-item">
          <a href="esports-home.html" class="main-menu-item-link">
            eSports
            <!-- SVG ARROW -->
            <svg class="arrow-icon">
              <use xlink:href="#svg-arrow"></use>
            </svg>
            <!-- /SVG ARROW -->
          </a>

          <!-- SUBMENU -->
          <ul class="submenu">
            <!-- SUBMENU ITEM -->
            <li class="submenu-item grid-limit">
              <!-- LINK SECTIONS WRAP -->
              <div class="link-sections-wrap">
                <!-- LINK SECTIONS -->
                <div class="link-sections">
                  <!-- LINK SECTION -->
                  <div class="link-section">
                    <!-- SECTION TITLE WRAP -->
                    <div class="section-title-wrap violet">
                      <h2 class="section-title small">Tournaments</h2>
                      <div class="section-title-separator"></div>
                    </div>
                    <!-- /SECTION TITLE WRAP -->

                    <!-- LINK LIST -->
                    <ul class="link-list medium">
                      <!-- LINK LIST ITEM -->
                      <li class="link-list-item">
                        <a href="/">eSports Home</a>
                      </li>
                      <!-- /LINK LIST ITEM -->

                      <!-- LINK LIST ITEM -->
                      <li class="link-list-item">
                        <a href="/">eSports News</a>
                      </li>
                      <!-- /LINK LIST ITEM -->

                      <!-- LINK LIST ITEM -->
                      <li class="link-list-item">
                        <a href="/">eSports Post Page</a>
                      </li>
                      <!-- /LINK LIST ITEM -->

                      <!-- LINK LIST ITEM -->
                      <li class="link-list-item">
                        <a href="/">Tournament Page</a>
                      </li>
                      <!-- /LINK LIST ITEM -->
                    </ul>
                    <!-- /LINK LIST -->
                  </div>
                  <!-- /LINK SECTION -->

                  <!-- LINK SECTION -->
                  <div class="link-section">
                    <!-- SECTION TITLE WRAP -->
                    <div class="section-title-wrap violet">
                      <h2 class="section-title small">Match Overviews</h2>
                      <div class="section-title-separator"></div>
                    </div>
                    <!-- /SECTION TITLE WRAP -->

                    <!-- LINK LIST -->
                    <ul class="link-list medium">
                      <!-- LINK LIST ITEM -->
                      <li class="link-list-item">
                        <a href="/">Match Overview V1</a>
                      </li>
                      <!-- /LINK LIST ITEM -->

                      <!-- LINK LIST ITEM -->
                      <li class="link-list-item">
                        <a href="/">Match Overview V2</a>
                      </li>
                      <!-- /LINK LIST ITEM -->

                      <!-- LINK LIST ITEM -->
                      <li class="link-list-item">
                        <a href="/">Match Overview V3</a>
                      </li>
                      <!-- /LINK LIST ITEM -->

                      <!-- LINK LIST ITEM -->
                      <li class="link-list-item">
                        <a href="/">Match Overview V4</a>
                      </li>
                      <!-- /LINK LIST ITEM -->
                    </ul>
                    <!-- /LINK LIST -->
                  </div>
                  <!-- /LINK SECTION -->

                  <!-- LINK SECTION -->
                  <div class="link-section">
                    <!-- SECTION TITLE WRAP -->
                    <div class="section-title-wrap violet">
                      <h2 class="section-title small">Teams &amp; Players</h2>
                      <div class="section-title-separator"></div>
                    </div>
                    <!-- /SECTION TITLE WRAP -->

                    <!-- LINK LIST -->
                    <ul class="link-list medium">
                      <!-- LINK LIST ITEM -->
                      <li class="link-list-item">
                        <a href="/">eSports Team Page</a>
                      </li>
                      <!-- /LINK LIST ITEM -->

                      <!-- LINK LIST ITEM -->
                      <li class="link-list-item">
                        <a href="/">eSports Player Page</a>
                      </li>
                      <!-- /LINK LIST ITEM -->

                      <!-- LINK LIST ITEM -->
                      <li class="link-list-item">
                        <a href="/">Streamers Page</a>
                      </li>
                      <!-- /LINK LIST ITEM -->

                      <!-- LINK LIST ITEM -->
                      <li class="link-list-item">
                        <a href="/">Scores with Calendar</a>
                      </li>
                      <!-- /LINK LIST ITEM -->
                    </ul>
                    <!-- /LINK LIST -->
                  </div>
                  <!-- /LINK SECTION -->
                </div>
                <!-- /LINK SECTIONS -->

                <!-- LINK SECTIONS -->
                <div class="link-sections">
                  <!-- LINK SECTION -->
                  <div class="link-section">
                    <!-- SECTION TITLE WRAP -->
                    <div class="section-title-wrap violet">
                      <h2 class="section-title small">Esports Stats</h2>
                      <div class="section-title-separator"></div>
                    </div>
                    <!-- /SECTION TITLE WRAP -->

                    <!-- LINK LIST -->
                    <ul class="link-list medium">
                      <!-- LINK LIST ITEM -->
                      <li class="link-list-item">
                        <a href="/">Statistic page 01</a>
                      </li>
                      <!-- /LINK LIST ITEM -->
                    </ul>
                    <!-- /LINK LIST -->

                    <!-- LINK LIST -->
                    <ul class="link-list medium">
                      <!-- LINK LIST ITEM -->
                      <li class="link-list-item">
                        <a href="/">Statistic page 02</a>
                      </li>
                      <!-- /LINK LIST ITEM -->
                    </ul>
                    <!-- /LINK LIST -->

                    <!-- LINK LIST -->
                    <ul class="link-list medium">
                      <!-- LINK LIST ITEM -->
                      <li class="link-list-item">
                        <a href="/">Statistic page 03</a>
                      </li>
                      <!-- /LINK LIST ITEM -->
                    </ul>
                    <!-- /LINK LIST -->
                  </div>
                  <!-- /LINK SECTION -->
                </div>
                <!-- /LINK SECTIONS -->

                <!-- LINK SECTIONS -->
                <div class="link-sections">
                  <!-- LINK SECTION -->
                  <div class="link-section full">
                    <!-- SECTION TITLE WRAP -->
                    <div class="section-title-wrap violet">
                      <h2 class="section-title small">Streamers</h2>
                      <div class="section-title-separator"></div>
                    </div>
                    <!-- /SECTION TITLE WRAP -->

                    <!-- STREAMER AVATARS -->
                    <div class="streamer-avatars">
                      <!-- STREAMER AVATAR -->
                      <div class="streamer-avatar">
                        <a href="esports-streamers.html">
                        <!-- PP HEXAGON -->
                        <div class="pp-hexagon">
                          <!-- HEXAGON ICON -->
                          <svg class="hexagon-icon hexagon-border">
                            <use xlink:href="#svg-hexagon"></use>
                          </svg>
                          <!-- /HEXAGON ICON -->

                          <!-- HEXAGON ICON -->
                          <svg class="hexagon-icon hexagon-fill">
                            <use xlink:href="#svg-hexagon"></use>
                          </svg>
                          <!-- /HEXAGON ICON -->
                        </div>
                        <!-- /PP HEXAGON -->

                        <!-- STREAMER AVATAR IMG WRAP -->
                        <div class="streamer-avatar-img-wrap">
                          <!-- STREAMER AVATAR IMG -->
                          <img class="streamer-avatar-img" src="{% static 'img/streamers/streamer-hex-01.png' %}" alt="st-avatar-01">
                        </div>
                        <!-- /STREAMER AVATAR IMG WRAP -->
                        </a>
                      </div>
                      <!-- /STREAMER AVATAR -->

                      <!-- STREAMER AVATAR -->
                      <div class="streamer-avatar">
                        <a href="esports-streamers.html">
                        <!-- PP HEXAGON -->
                        <div class="pp-hexagon">
                          <!-- HEXAGON ICON -->
                          <svg class="hexagon-icon hexagon-border">
                            <use xlink:href="#svg-hexagon"></use>
                          </svg>
                          <!-- /HEXAGON ICON -->

                          <!-- HEXAGON ICON -->
                          <svg class="hexagon-icon hexagon-fill">
                            <use xlink:href="#svg-hexagon"></use>
                          </svg>
                          <!-- /HEXAGON ICON -->
                        </div>
                        <!-- /PP HEXAGON -->

                        <!-- STREAMER AVATAR IMG WRAP -->
                        <div class="streamer-avatar-img-wrap">
                          <!-- STREAMER AVATAR IMG -->
                          <img class="streamer-avatar-img" src="{% static 'img/streamers/streamer-hex-02.png' %}" alt="st-avatar-02">
                        </div>
                        <!-- /STREAMER AVATAR IMG WRAP -->
                        </a>
                      </div>
                      <!-- /STREAMER AVATAR -->

                      <!-- STREAMER AVATAR -->
                      <div class="streamer-avatar">
                        <a href="esports-streamers.html">
                        <!-- PP HEXAGON -->
                        <div class="pp-hexagon">
                          <!-- HEXAGON ICON -->
                          <svg class="hexagon-icon hexagon-border">
                            <use xlink:href="#svg-hexagon"></use>
                          </svg>
                          <!-- /HEXAGON ICON -->

                          <!-- HEXAGON ICON -->
                          <svg class="hexagon-icon hexagon-fill">
                            <use xlink:href="#svg-hexagon"></use>
                          </svg>
                          <!-- /HEXAGON ICON -->
                        </div>
                        <!-- /PP HEXAGON -->

                        <!-- STREAMER AVATAR IMG WRAP -->
                        <div class="streamer-avatar-img-wrap">
                          <!-- STREAMER AVATAR IMG -->
                          <img class="streamer-avatar-img" src="{% static 'img/streamers/streamer-hex-03.png' %}" alt="st-avatar-03">
                        </div>
                        <!-- /STREAMER AVATAR IMG WRAP -->
                        </a>
                      </div>
                      <!-- /STREAMER AVATAR -->

                      <!-- STREAMER AVATAR -->
                      <div class="streamer-avatar">
                        <a href="esports-streamers.html">
                        <!-- PP HEXAGON -->
                        <div class="pp-hexagon">
                          <!-- HEXAGON ICON -->
                          <svg class="hexagon-icon hexagon-border">
                            <use xlink:href="#svg-hexagon"></use>
                          </svg>
                          <!-- /HEXAGON ICON -->

                          <!-- HEXAGON ICON -->
                          <svg class="hexagon-icon hexagon-fill">
                            <use xlink:href="#svg-hexagon"></use>
                          </svg>
                          <!-- /HEXAGON ICON -->
                        </div>
                        <!-- /PP HEXAGON -->

                        <!-- STREAMER AVATAR IMG WRAP -->
                        <div class="streamer-avatar-img-wrap">
                          <!-- STREAMER AVATAR IMG -->
                          <img class="streamer-avatar-img" src="{% static 'img/streamers/streamer-hex-04.png' %}" alt="st-avatar-04">
                        </div>
                        <!-- /STREAMER AVATAR IMG WRAP -->
                        </a>
                      </div>
                      <!-- /STREAMER AVATAR -->

                      <!-- STREAMER AVATAR -->
                      <div class="streamer-avatar">
                        <a href="esports-streamers.html">
                        <!-- PP HEXAGON -->
                        <div class="pp-hexagon">
                          <!-- HEXAGON ICON -->
                          <svg class="hexagon-icon hexagon-border">
                            <use xlink:href="#svg-hexagon"></use>
                          </svg>
                          <!-- /HEXAGON ICON -->

                          <!-- HEXAGON ICON -->
                          <svg class="hexagon-icon hexagon-fill">
                            <use xlink:href="#svg-hexagon"></use>
                          </svg>
                          <!-- /HEXAGON ICON -->
                        </div>
                        <!-- /PP HEXAGON -->

                        <!-- STREAMER AVATAR IMG WRAP -->
                        <div class="streamer-avatar-img-wrap">
                          <!-- STREAMER AVATAR IMG -->
                          <img class="streamer-avatar-img" src="{% static 'img/streamers/streamer-hex-05.png' %}" alt="st-avatar-05">
                        </div>
                        <!-- /STREAMER AVATAR IMG WRAP -->
                        </a>
                      </div>
                      <!-- /STREAMER AVATAR -->
                    </div>
                    <!-- /STREAMER AVATARS -->
                  </div>
                  <!-- /LINK SECTION -->
                </div>
                <!-- /LINK SECTIONS -->
              </div>
              <!-- /LINK SECTIONS WRAP -->

              <!-- LINK SECTIONS WRAP -->
              <div class="link-sections-wrap">
                <!-- LINK SECTIONS -->
                <div class="link-sections">
                  <!-- LINK SECTION -->
                  <div class="link-section">
                    <!-- SECTION TITLE WRAP -->
                    <div class="section-title-wrap violet">
                      <h2 class="section-title small">Featured Match</h2>
                      <div class="section-title-separator"></div>
                    </div>
                    <!-- /SECTION TITLE WRAP -->

                    <!-- WIDGET MATCH BOX -->
                    <div class="widget-match-box">
                      <!-- WIDGET TITLE WRAP -->
                      <div class="widget-title-wrap">
                        <h6 class="widget-title">Some title</h6>
                        <p class="widget-text">August 28th, 2023</p>
                      </div>
                      <!-- /WIDGET TITLE WRAP -->

                      <!-- WIDGET TEAM VS -->
                      <div class="widget-team-vs">
                        <!-- WIDGET TEAM VS ITEM -->
                        <div class="widget-team-vs-item">
                          <!-- TEAM INFO WRAP -->
                          <div class="team-info-wrap medium">
                            <!-- TEAM LOGO -->
                            <img class="team-logo" src="{% static 'img/teams/logos/01.png' %}" alt="logo-01">
                            <!-- /TEAM LOGO -->

                            <!-- TEAM INFO -->
                            <div class="team-info">
                              <!-- TEAM NAME -->
                              <p class="team-name">The Lone Wolves</p>
                              <!-- /TEAM NAME -->

                              <!-- TEAM COUNTRY -->
                              <p class="team-country">United States</p>
                              <!-- /TEAM COUNTRY -->
                            </div>
                            <!-- /TEAM INFO -->
                          </div>
                          <!-- /TEAM INFO WRAP -->

                          <!-- TEAM SCORE -->
                          <p class="team-score">12</p>
                          <!-- /TEAM SCORE -->
                        </div>
                        <!-- /WIDGET TEAM VS ITEM -->

                        <!-- WIDGET TEAM VS ITEM -->
                        <div class="widget-team-vs-item">
                          <!-- TEAM INFO WRAP -->
                          <div class="team-info-wrap medium">
                            <!-- TEAM LOGO -->
                            <img class="team-logo" src="{% static 'img/teams/logos/02.png' %}" alt="logo-02">
                            <!-- /TEAM LOGO -->

                            <!-- TEAM INFO -->
                            <div class="team-info">
                              <!-- TEAM NAME -->
                              <p class="team-name">Raging Rhinos</p>
                              <!-- /TEAM NAME -->

                              <!-- TEAM COUNTRY -->
                              <p class="team-country">South Africa</p>
                              <!-- /TEAM COUNTRY -->
                            </div>
                            <!-- /TEAM INFO -->
                          </div>
                          <!-- /TEAM INFO WRAP -->

                          <!-- TEAM SCORE -->
                          <p class="team-score">10</p>
                          <!-- /TEAM SCORE -->
                        </div>
                        <!-- /WIDGET TEAM VS ITEM -->
                      </div>
                      <!-- /WIDGET TEAM VS -->
                    </div>
                    <!-- /WIDGET MATCH BOX -->

                    <!-- WIDGET MATCH BOX -->
                    <div class="widget-match-box">
                      <!-- WIDGET TITLE WRAP -->
                      <div class="widget-title-wrap">
                        <!-- WIDGET TITLE -->
                        <h6 class="widget-title">Match Stats</h6>
                        <!-- /WIDGET TITLE -->

                        <!-- STATS REFERENCE -->
                        <div class="stats-reference">
                          <!-- STAT REFERENCE -->
                          <div class="stat-reference blue">
                            <!-- STAT REFERENCE TEXT -->
                            <p class="stat-reference-text">TLW</p>
                            <!-- /STAT REFERENCE TEXT -->
                          </div>
                          <!-- /STAT REFERENCE -->

                          <!-- STAT REFERENCE -->
                          <div class="stat-reference yellow">
                            <!-- STAT REFERENCE TEXT -->
                            <p class="stat-reference-text">RRH</p>
                            <!-- /STAT REFERENCE TEXT -->
                          </div>
                          <!-- /STAT REFERENCE -->
                        </div>
                        <!-- /STATS REFERENCE -->
                      </div>
                      <!-- /WIDGET TITLE WRAP -->

                      <!-- WIDGET TEAM STATS -->
                      <div class="widget-team-stats">
                        <!-- PROGRESS STAT WRAP -->
                        <div class="progress-stat-wrap">
                          <!-- BAR PROGRESS INFO -->
                          <p class="bar-progress-info">Total Kills</p>
                          <!-- PROGRESS BAR WRAP -->
                          <div id="mn-pg-1" class="progress-bar-wrap">
                            <div class="bar-progress-wrap left">
                              <p id="tlw-kills-stat" class="bar-progress-text"></p>
                            </div>
                            <div class="bar-progress-wrap right">
                              <p id="rrh-kills-stat" class="bar-progress-text"></p>
                            </div>
                          </div>
                          <!-- /PROGRESS BAR WRAP -->
                        </div>
                        <!-- /PROGRESS STAT WRAP -->

                        <!-- PROGRESS STAT WRAP -->
                        <div class="progress-stat-wrap">
                          <!-- BAR PROGRESS INFO -->
                          <p class="bar-progress-info">Total Deaths</p>
                          <!-- PROGRESS BAR WRAP -->
                          <div id="mn-pg-2" class="progress-bar-wrap">
                            <div class="bar-progress-wrap left">
                              <p id="tlw-deaths-stat" class="bar-progress-text"></p>
                            </div>
                            <div class="bar-progress-wrap right">
                              <p id="rrh-deaths-stat" class="bar-progress-text"></p>
                            </div>
                          </div>
                          <!-- /PROGRESS BAR WRAP -->
                        </div>
                        <!-- /PROGRESS STAT WRAP -->

                        <!-- PROGRESS STAT WRAP -->
                        <div class="progress-stat-wrap">
                          <!-- BAR PROGRESS INFO -->
                          <p class="bar-progress-info">Total Assists</p>
                          <!-- PROGRESS BAR WRAP -->
                          <div id="mn-pg-3" class="progress-bar-wrap">
                            <div class="bar-progress-wrap left">
                              <p id="tlw-assists-stat" class="bar-progress-text"></p>
                            </div>
                            <div class="bar-progress-wrap right">
                              <p id="rrh-assists-stat" class="bar-progress-text"></p>
                            </div>
                          </div>
                          <!-- /PROGRESS BAR WRAP -->
                        </div>
                        <!-- /PROGRESS STAT WRAP -->
                      </div>
                      <!-- /WIDGET TEAM STATS -->
                    </div>
                    <!-- /WIDGET MATCH BOX -->
                  </div>
                  <!-- /LINK SECTION -->
                </div>
                <!-- /LINK SECTIONS -->
              </div>
              <!-- /LINK SECTIONS WRAP -->

              <!-- LINK SECTIONS WRAP -->
              <div class="link-sections-wrap">
                <!-- LINK SECTIONS -->
                <div class="link-sections">
                  <!-- LINK SECTION -->
                  <div class="link-section">
                    <!-- SECTION TITLE WRAP -->
                    <div class="section-title-wrap violet">
                      <h2 class="section-title small">Featured Articles</h2>
                      <div class="section-title-separator"></div>
                    </div>
                    <!-- /SECTION TITLE WRAP -->

                    <!-- POST PREVIEW SHOWCASE -->
                    <div class="post-preview-showcase grid-1col gutter-small">

                      {% for post in posts|slice:":5" %}
                      <!-- POST PREVIEW -->
                      <div class="post-preview tiny e-sport">
                        <!-- POST PREVIEW IMG WRAP -->
                        <a href="esports-post.html">
                          <div class="post-preview-img-wrap">
                            <!-- POST PREVIEW IMG -->
                            <figure class="post-preview-img liquid">
                              <img src="{% static 'img/posts/36.jpg' %}" alt="post-36">
                            </figure>
                            <!-- /POST PREVIEW IMG -->
                          </div>
                        </a>
                        <!-- /POST PREVIEW IMG WRAP -->

                        <!-- POST PREVIEW TITLE -->
                        <a href="/" class="post-preview-title">{{ post.title }}</a>
                        <!-- POST AUTHOR INFO -->
                        <div class="post-author-info-wrap">
                          <p class="post-author-info small light">By <a href="search-results.html" class="post-author">{{ post.author }}</a><span class="separator">|</span>{{ post.publish_date }}</p>
                        </div>
                        <!-- /POST AUTHOR INFO -->
                      </div>
                      <!-- /POST PREVIEW -->
                      {% endfor %}

                    </div>
                    <!-- /POST PREVIEW SHOWCASE -->
                  </div>
                  <!-- /LINK SECTION -->
                </div>
                <!-- /LINK SECTIONS -->
              </div>
              <!-- /LINK SECTIONS WRAP -->
            </li>
            <!-- /SUBMENU ITEM -->
          </ul>
          <!-- /SUBMENU -->
        </li>
        <!-- /MAIN MENU ITEM -->

        <!-- MAIN MENU ITEM -->
        <li class="main-menu-item">
          <a href="/" class="main-menu-item-link">News</a>
        </li>
        <!-- /MAIN MENU ITEM -->





      </ul>
      <!-- /MAIN MENU -->
    </div>
    <!-- NAVIGATION -->
  </nav>
  <!-- /NAVIGATION WRAP -->