{% load static %}
    <!-- LAYOUT SIDEBAR -->
    <div class="layout-sidebar layout-item gutter-medium">
      <!-- WIDGET SIDEBAR -->
      <div class="widget-sidebar">
        <!-- SIDEBAR SEARCH FORM -->
        <form class="sidebar-search-form">
          <!-- SUBMIT INPUT -->
          <div class="submit-input full blue">
            <input type="text" id="sidebar-search1" name="sidebar-search1" placeholder="Search articles here...">
            <button class="submit-input-button">
              <!-- SEARCH ICON -->
              <svg class="search-icon small">
                <use xlink:href="#svg-search"></use>
              </svg>
              <!-- /SEARCH ICON -->
            </button>
          </div>
          <!-- /SUBMIT INPUT -->
        </form>
        <!-- /SIDEBAR SEARCH FORM -->
      </div>
      <!-- /WIDGET SIDEBAR -->

      <!-- WIDGET SIDEBAR -->
      <div class="widget-sidebar">
        <!-- SECTION TITLE WRAP -->
        <div class="section-title-wrap blue">
          <h2 class="section-title medium">Esport Hub</h2>
          <div class="section-title-separator"></div>
        </div>
        <!-- /SECTION TITLE WRAP -->

        <!-- SOCIAL LINKS -->
        <div class="social-links medium centered">
          <!-- BUBBLE ORNAMENT -->
          <a href="#" class="bubble-ornament big fb">
            <!-- FACEBOOK ICON -->
            <svg class="facebook-icon big">
              <use xlink:href="#svg-facebook"></use>
            </svg>
            <!-- /FACEBOOK ICON -->
            <p class="bubble-ornament-text">2560</p>
          </a>
          <!-- /BUBBLE ORNAMENT -->

          <!-- BUBBLE ORNAMENT -->
          <a href="#" class="bubble-ornament big twt">
            <!-- TWITTER ICON -->
            <svg class="twitter-icon big">
              <use xlink:href="#svg-twitter"></use>
            </svg>
            <!-- /TWITTER ICON -->
            <p class="bubble-ornament-text">1945</p>
          </a>
          <!-- /BUBBLE ORNAMENT -->

          <!-- BUBBLE ORNAMENT -->
          <a href="#" class="bubble-ornament big insta">
            <!-- INSTAGRAM ICON -->
            <svg class="instagram-icon big">
              <use xlink:href="#svg-instagram"></use>
            </svg>
            <!-- /INSTAGRAM ICON -->
            <p class="bubble-ornament-text">835</p>
          </a>
          <!-- /BUBBLE ORNAMENT -->

          <!-- BUBBLE ORNAMENT -->
          <a href="#" class="bubble-ornament big twitch">
            <!-- TWITCH ICON -->
            <svg class="twitch-icon big">
              <use xlink:href="#svg-twitch"></use>
            </svg>
            <!-- /TWITCH ICON -->
            <p class="bubble-ornament-text">9632</p>
          </a>
          <!-- /BUBBLE ORNAMENT -->
        </div>
        <!-- /SOCIAL LINKS -->
      </div>
      <!-- /WIDGET SIDEBAR -->

      <!-- WIDGET SIDEBAR -->
      <div class="widget-sidebar">
        <!-- SECTION TITLE WRAP -->
        <div class="section-title-wrap blue">
          <h2 class="section-title medium">Popular Posts</h2>
          <div class="section-title-separator"></div>
        </div>
        <!-- /SECTION TITLE WRAP -->

        <!-- POST PREVIEW SHOWCASE -->
        <div class="post-preview-showcase grid-1col centered gutter-small">

          {% for post in posts|slice:":4" %}

                    <!-- POST PREVIEW -->
          <div class="post-preview tiny gaming-news">
            <!-- POST PREVIEW IMG WRAP -->
            <a href="post-v1.html">
              <div class="post-preview-img-wrap">
                <!-- POST PREVIEW IMG -->
                <figure class="post-preview-img liquid">
                  <img src="{{post.image.url}}" alt="post-01">
                </figure>
                <!-- /POST PREVIEW IMG -->
              </div>
            </a>
            <!-- /POST PREVIEW IMG WRAP -->

            <!-- POST PREVIEW TITLE -->
            <a href="/" class="post-preview-title">{{post.title}}</a>
            <!-- POST AUTHOR INFO -->
            <div class="post-author-info-wrap">
              <p class="post-author-info small light">By <a href="/" class="post-author">{{post.author}}</a><span class="separator">|</span>{{post.publish_date}}</p>
            </div>
            <!-- /POST AUTHOR INFO -->
          </div>
          <!-- /POST PREVIEW -->

          {% endfor %}


        </div>
        <!-- /POST PREVIEW SHOWCASE -->
      </div>
      <!-- /WIDGET SIDEBAR -->

      <!-- WIDGET SIDEBAR -->
      <div class="widget-sidebar">
        <!-- SECTION TITLE WRAP -->
        <div class="section-title-wrap red">
          <h2 class="section-title medium">Latest Reviews</h2>
          <div class="section-title-separator"></div>
        </div>
        <!-- /SECTION TITLE WRAP -->

        <!-- POST PREVIEW SHOWCASE -->
        <div class="post-preview-showcase grid-1col centered gutter-small">

                    {% for post in posts|slice:":4" %}

                    <!-- POST PREVIEW -->
          <div class="post-preview tiny game-review">
            <!-- POST PREVIEW IMG WRAP -->
            <a href="post-v1.html">
              <div class="post-preview-img-wrap">
                <!-- POST PREVIEW IMG -->
                <figure class="post-preview-img liquid">
                  <img src="{{post.image.url}}" alt="post-01">
                </figure>
                <!-- /POST PREVIEW IMG -->
              </div>
            </a>
            <!-- /POST PREVIEW IMG WRAP -->

            <!-- POST PREVIEW TITLE -->
            <a href="/" class="post-preview-title">{{post.title}}</a>
            <!-- POST AUTHOR INFO -->
            <div class="post-author-info-wrap">
              <p class="post-author-info small light">By <a href="/" class="post-author">{{post.author}}</a><span class="separator">|</span>{{post.publish_date}}</p>
            </div>
            <!-- /POST AUTHOR INFO -->
          </div>
          <!-- /POST PREVIEW -->

          {% endfor %}

        </div>
        <!-- /POST PREVIEW SHOWCASE -->
      </div>
      <!-- /WIDGET SIDEBAR -->

      <!-- WIDGET SIDEBAR -->
      <div class="widget-sidebar">
        <!-- SECTION TITLE WRAP -->
        <div class="section-title-wrap violet">
          <h2 class="section-title medium">Twitch Streams</h2>
          <div class="section-title-separator"></div>
        </div>
        <!-- /SECTION TITLE WRAP -->

        <!-- STREAM PREVIEW SHOWCASE -->
        <div class="stream-preview-showcase grid-1col centered gutter-small">
          <!-- STREAM PREVIEW ITEM -->
          <div class="stream-preview">
            <!-- STREAM PREVIEW STREAMER -->
            <div class="stream-preview-streamer stream-preview-streamer-1">
              <!-- STREAM PREVIEW STREAMER IMG -->
              <img class="stream-preview-streamer-img" src="{% static 'img/streamers/streambox-01-streamer.png' %}" alt="streambox-01-streamer">
              <!-- /STREAM PREVIEW STREAMER IMG -->

              <!-- STREAM PREVIEW STREAMER NAME -->
              <p class="stream-preview-streamer-name">Name</p>
              <!-- STREAM PREVIEW STREAMER TOPIC -->
              <p class="stream-preview-streamer-topic">Title</p>
              <!-- STREAM START COUNTER -->
              <p class="stream-start-counter live">Live</p>
            </div>
            <!-- /STREAM PREVIEW STREAMER -->

            <!-- WIDGET MEDIA -->
            <div class="widget-media small">
              <iframe src="https://player.twitch.tv/?autoplay=true&muted=true&t=01h00m50s&video=v1657947911&parent=127.0.0.1" allowfullscreen></iframe>
            </div>
            <!-- /WIDGET MEDIA -->
          </div>
          <!-- /STREAM PREVIEW ITEM -->

          <!-- STREAM PREVIEW ITEM -->
          <div class="stream-preview">
            <!-- STREAM PREVIEW STREAMER -->
            <div class="stream-preview-streamer stream-preview-streamer-2">
              <!-- STREAM PREVIEW STREAMER IMG -->
              <img class="stream-preview-streamer-img" src="{% static 'img/streamers/streambox-02-streamer.png' %}" alt="streambox-02-streamer">
              <!-- /STREAM PREVIEW STREAMER IMG -->

              <!-- STREAM PREVIEW STREAMER NAME -->
              <p class="stream-preview-streamer-name">Nick</p>
              <!-- STREAM PREVIEW STREAMER TOPIC -->
              <p class="stream-preview-streamer-topic">Title</p>
              <!-- STREAM START COUNTER -->
              <p class="stream-start-counter">Starts in:
                <span id="sidebar-twitch-countdown-1" class="highlighted"></span></p>
            </div>
            <!-- /STREAM PREVIEW STREAMER -->
          </div>
          <!-- /STREAM PREVIEW ITEM -->

          <!-- STREAM PREVIEW ITEM -->
          <div class="stream-preview">
              <!-- STREAM PREVIEW STREAMER -->
            <div class="stream-preview-streamer stream-preview-streamer-3">
              <!-- STREAM PREVIEW STREAMER IMG -->
              <img class="stream-preview-streamer-img" src="{% static 'img/streamers/streambox-03-streamer.png' %}" alt="streambox-03-streamer">
              <!-- /STREAM PREVIEW STREAMER IMG -->

              <!-- STREAM PREVIEW STREAMER NAME -->
              <p class="stream-preview-streamer-name">Nick</p>
              <!-- STREAM PREVIEW STREAMER TOPIC -->
              <p class="stream-preview-streamer-topic">Title</p>
              <!-- STREAM START COUNTER -->
              <p class="stream-start-counter offline">Offline</p>
            </div>
            <!-- /STREAM PREVIEW STREAMER -->
          </div>
          <!-- /STREAM PREVIEW ITEM -->
        </div>
        <!-- /STREAM PREVIEW SHOWCASE -->
      </div>
      <!-- /WIDGET SIDEBAR -->




      <!-- WIDGET SIDEBAR -->
      <div class="widget-sidebar">
        <!-- SECTION TITLE WRAP -->
        <div class="section-title-wrap cyan">
          <h2 class="section-title medium">Featured Video</h2>
          <div class="section-title-separator"></div>
        </div>
        <!-- /SECTION TITLE WRAP -->

        <!-- POST PREVIEW SHOWCASE -->
        <div class="post-preview-showcase grid-1col centered">
          <!-- POST PREVIEW -->
          <div class="post-preview video">
            <!-- POST PREVIEW IMG WRAP -->
            <a href="https://youtu.be/12SFwsHUjJs">
              <div class="post-preview-img-wrap">
                <!-- POST PREVIEW IMG -->
                <figure class="post-preview-img liquid">
                  <img src="img/posts/03.jpg" alt="post-03">
                </figure>
                <!-- /POST PREVIEW IMG -->

                <!-- POST PREVIEW OVERLAY -->
                <div class="post-preview-overlay">
                  <!-- PLAY BUTTON -->
                  <div class="play-button">
                    <!-- PLAY BUTTON ICON -->
                    <svg class="play-button-icon">
                      <use xlink:href="#svg-play"></use>
                    </svg>
                    <!-- /PLAY BUTTON ICON -->
                  </div>
                  <!-- /PLAY BUTTON -->

                  <!-- POST PREVIEW OVERLAY INFO -->
                  <div class="post-preview-overlay-info">
                    <!-- POST PREVIEW TITLE -->
                    <p class="post-preview-title">Title....</p>
                    <!-- POST PREVIEW TEXT -->
                    <p class="post-preview-text">Description....</p>
                  </div>
                  <!-- /POST PREVIEW OVERLAY INFO -->
                </div>
                <!-- /POST PREVIEW OVERLAY -->
              </div>
            </a>
            <!-- /POST PREVIEW IMG WRAP -->
          </div>
          <!-- /POST PREVIEW -->
        </div>
        <!-- /POST PREVIEW SHOWCASE -->
      </div>
      <!-- /WIDGET SIDEBAR -->

      <!-- WIDGET SIDEBAR -->
      <div class="widget-sidebar">
        <!-- SECTION TITLE WRAP -->
        <div class="section-title-wrap blue">
          <h2 class="section-title medium">Tags</h2>
          <div class="section-title-separator"></div>
        </div>
        <!-- /SECTION TITLE WRAP -->

        <!-- TAG LIST -->
        <div class="tag-list">
          <!-- TAG ITEM -->
          <a href="/" class="tag-item">Gwent</a>
          <!-- /TAG ITEM -->

          <!-- TAG ITEM -->
          <a href="/" class="tag-item">Esport</a>
          <!-- /TAG ITEM -->

          <!-- TAG ITEM -->
          <a href="/" class="tag-item">News</a>
          <!-- /TAG ITEM -->

        </div>
        <!-- /TAG LIST -->
      </div>
      <!-- /WIDGET SIDEBAR -->


    </div>
    <!-- /LAYOUT SIDEBAR -->