<h1>List of lists: </h1>
<br/>
<h2>General</h2>
<br/>
<a href="/games">Games</a>

<br/><br/>
<h2>Snapshot</h2>
<br/>
<a href="/snapshot">Snapshot</a>,
<a href="/deck-entries">Deck entry</a>,
<a href="/decks">Deck</a>,
<a href="/cards">Card</a>,
<a href="/card-versions">Card Version</a>

<br/><br/>
<h2>Esport</h2>
<br/>
<a href="/tournaments">Tournament</a>,
<a href="/players">Player</a>,
<a href="/teams">Team</a>,
<a href="/matches">Match</a>,

<br/><br/>
<h2>Content</h2>
<br/>
<a href="/streamers">Streamer</a>,
<a href="/streams">Stream</a>
