 {% load static %}
        <!-- LAYOUT ITEM -->
        <div class="layout-item">
            <!-- POST PREVIEW SET -->
            <div class="post-preview-set">
                <!-- POST PREVIEW SET LEFT -->
                <div class="post-preview-set-left">
                    <!-- POST PREVIEW -->
                            {% for post in posts|slice:":1" %}
                                        <div class="post-preview picture big game-review">
                        <!-- POST PREVIEW IMG WRAP -->
                        <a href="post-v2.html">
                            <div class="post-preview-img-wrap">
                                <!-- POST PREVIEW IMG -->
                                <figure class="post-preview-img liquid">
                                    <img src="media/{{ post.image }}" alt="post-16">
                                </figure>
                                <!-- /POST PREVIEW IMG -->

                                <!-- POST PREVIEW OVERLAY -->
                                <div class="post-preview-overlay">
                                    <!-- TAG ORNAMENT -->
                                    <span class="tag-ornament">Game Reviews</span>
                                    <!-- /TAG ORNAMENT -->

                                    <!-- POST PREVIEW TITLE -->
                                    <p class="post-preview-title">{{ post.title }}</p>
                                    <!-- POST PREVIEW TEXT -->
                                    <p class="post-preview-text">{{ post.text |striptags |slice:":400" }}</p>
                                </div>
                                <!-- /POST PREVIEW OVERLAY -->

                                <!-- REVIEW RATING -->
                                <div class="review-rating">
                                    <div id="content-news-rate-1" class="arc medium"></div>
                                </div>
                                <!-- /REVIEW RATING -->
                            </div>
                        </a>
                        <!-- /POST PREVIEW IMG WRAP -->
                    </div>
                    {% endfor %}

                    <!-- /POST PREVIEW -->
                </div>
                <!-- /POST PREVIEW SET LEFT -->

                <!-- POST PREVIEW SET RIGHT -->
                <div class="post-preview-set-right">

                                               {% for post in posts|slice:":3" %}
                      <!-- POST PREVIEW -->
                    <div class="post-preview picture gaming-news">
                        <!-- POST PREVIEW IMG WRAP -->
                        <a href="/">
                            <div class="post-preview-img-wrap">
                                <!-- POST PREVIEW IMG -->
                                <figure class="post-preview-img liquid">
                                    <img src="media/{{ post.image }}" alt="post-07">
                                </figure>
                                <!-- /POST PREVIEW IMG -->

                                <!-- POST PREVIEW OVERLAY -->
                                <div class="post-preview-overlay">
                                    <!-- POST PREVIEW TITLE -->
                                    <p class="post-preview-title">{{ post.title }}</p>
                                </div>
                                <!-- /POST PREVIEW OVERLAY -->

                                <!-- TAG ORNAMENT -->
                                <span class="tag-ornament">Gaming news</span>
                                <!-- /TAG ORNAMENT -->
                            </div>
                        </a>
                        <!-- /POST PREVIEW IMG WRAP -->
                    </div>
                    <!-- /POST PREVIEW -->

                    {% endfor %}



                </div>
                <!-- /POST PREVIEW SET RIGHT -->
            </div>
            <!-- /POST PREVIEW SET -->
        </div>
        <!-- /LAYOUT ITEM -->