{% load static %}
<!-- LAYOUT ITEM 2-1 -->
<div class="layout-item-2-1">
    <!-- LAYOUT ITEM -->
    <div class="layout-item">

        {% for post in posts|slice:":3" %}
        <!-- POST PREVIEW -->
        <div class="post-preview big gaming-news">
            <!-- POST PREVIEW IMG WRAP -->
            <a href="/">
                <div class="post-preview-img-wrap">
                    <!-- POST PREVIEW IMG -->
                    <figure class="post-preview-img liquid">
                        <img src="media/{{ post.image }}" alt="post-01">
                    </figure>
                    <!-- POST PREVIEW IMG -->
                </div>
            </a>
            <!-- /POST PREVIEW IMG WRAP -->

            <!-- TAG ORNAMENT -->
            <a href="/" class="tag-ornament">Gaming news</a>
            <!-- /TAG ORNAMENT -->

            <!-- POST PREVIEW TITLE -->
            <a href="post-v1.html" class="post-preview-title">{{ post.title }}</a>
            <!-- POST AUTHOR INFO -->
            <div class="post-author-info-wrap">
                <!-- USER AVATAR -->
                <a href="search-results.html">
                    <figure class="user-avatar tiny liquid">
                        <img src="media/{{ post.image }}" alt="user-01">
                    </figure>
                </a>
                <!-- /USER AVATAR -->
                <p class="post-author-info small light">By <a href="/" class="post-author">{{ post.author }}</a><span
                        class="separator">|</span>{{ post.publish_date }}<span class="separator">|</span><a
                        href="/#op-comments" class="post-comment-count">174 Comments</a></p>
            </div>
            <!-- /POST AUTHOR INFO -->
            <!-- POST PREVIEW TEXT -->
            <p class="post-preview-text">{{ post.text |striptags |slice:":400" }}</p>
        </div>
        <!-- /POST PREVIEW -->

        {% endfor %}


    </div>
    <!-- /LAYOUT ITEM -->

    <!-- LAYOUT ITEM -->
    <div class="layout-item">

        {% for post in posts|slice:":5" %}

        <!-- POST PREVIEW -->
        <div class="post-preview gaming-news img-toggle">
            <!-- POST PREVIEW IMG WRAP -->
            <a href="/">
                <div class="post-preview-img-wrap">
                    <!-- POST PREVIEW IMG -->
                    <figure class="post-preview-img liquid">
                        <img src="media/{{ post.image }}" alt="post-17">
                    </figure>
                    <!-- /POST PREVIEW IMG -->
                </div>
            </a>
            <!-- /POST PREVIEW IMG WRAP -->

            <!-- TAG ORNAMENT -->
            <a href="/" class="tag-ornament">Gaming news</a>
            <!-- /TAG ORNAMENT -->

            <!-- POST PREVIEW TITLE -->
            <a href="/" class="post-preview-title">{{ post.title }}</a>
            <!-- POST AUTHOR INFO -->
            <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="search-results.html"
                                                              class="post-author">Vellatrix</a><span
                        class="separator">|</span>{{ post.publish_date }}</p>
            </div>
            <!-- /POST AUTHOR INFO -->
            <!-- POST PREVIEW TEXT -->
            <p class="post-preview-text">{{ post.text |striptags |slice:":400" }}</p>
        </div>
        <!-- /POST PREVIEW -->
        {% endfor %}


    </div>
    <!-- /LAYOUT ITEM -->
</div>
<!-- /LAYOUT ITEM 2-1 -->