{% load static %}
        <!-- LAYOUT ITEM -->
        <div class="layout-item padded">
            <a href="#">
                <!-- PROMO BANNER -->
                <div class="promo-banner">
                    <!-- PROMO BANNER IMG -->
                    <img src="{% static 'img/banners/live-play-banner-logo.png' %}" alt="promo-banner-img" class="promo-banner-img">
                    <!-- /PROMO BANNER IMG -->

                    <!-- TAG ORNAMENT -->
                    <p class="tag-ornament bold violet">Jan 18 - 10PM CET</p>
                    <!-- /TAG ORNAMENT -->

                    <!-- PROMO BANNER INFO -->
                    <div class="promo-banner-info">
                        <p class="promo-banner-pre-title">Watch us play<span class="live-icon"></span>live</p>
                        <p class="promo-banner-title">Some name of the game</p>
                        <p class="promo-banner-text">With Nick and Nick or description</p>
                    </div>
                    <!-- /PROMO BANNER INFO -->

                    <!-- COUNTDOWN ARC -->
                    <div id="countdown-arc" class="countdown-arc">
                        <!-- COUNTER WRAP -->
                        <div class="counter-wrap">
                            <div class="timer-days"></div>
                            <p class="text-heading counter-text">Days</p>
                        </div>
                        <!-- /COUNTER WRAP -->

                        <!-- COUNTER WRAP -->
                        <div class="counter-wrap">
                            <div class="timer-hours"></div>
                            <p class="text-heading counter-text">Hours</p>
                        </div>
                        <!-- /COUNTER WRAP -->

                        <!-- COUNTER WRAP -->
                        <div class="counter-wrap">
                            <div class="timer-minutes"></div>
                            <p class="text-heading counter-text">Minutes</p>
                        </div>
                        <!-- /COUNTER WRAP -->

                        <!-- COUNTER WRAP -->
                        <div class="counter-wrap">
                            <div class="timer-seconds"></div>
                            <p class="text-heading counter-text">Seconds</p>
                        </div>
                        <!-- /COUNTER WRAP -->
                    </div>
                    <!-- /COUNTDOWN ARC -->
                </div>
                <!-- /PROMO BANNER -->
            </a>
        </div>
        <!-- /LAYOUT ITEM -->