{% extends 'main/base.html' %}
{% load static %}

{% block content %}

  <!-- BANNER WRAP -->
  <div class="banner-wrap gaming-news">
    <!-- BANNER -->
    <div class="banner grid-limit">
      <h2 class="banner-title">Gaming News</h2>
      <p class="banner-sections">
        <span class="banner-section">Home</span>
        <!-- ARROW ICON -->
        <svg class="arrow-icon">
          <use xlink:href="#svg-arrow"></use>
        </svg>
        <!-- /ARROW ICON -->
        <span class="banner-section">Gaming News</span>
      </p>
    </div>
    <!-- /BANNER -->
  </div>
  <!-- /BANNER WRAP -->

{% include "common/live-news.html" %}

  <!-- LAYOUT CONTENT 1 -->
  <div class="layout-content-1 layout-item-3-1 grid-limit">
    <!-- LAYOUT BODY -->
    <div class="layout-body">
      <!-- LAYOUT ITEM -->
      <div class="layout-item gutter-big">
        <!-- POST PREVIEW -->
        <div class="post-preview large gaming-news">
          <!-- POST PREVIEW IMG WRAP -->
          <a href="post-v1.html">
            <div class="post-preview-img-wrap">
              <!-- POST PREVIEW IMG -->
              <figure class="post-preview-img liquid">
                <img src="img/posts/13.jpg" alt="post-13">
              </figure>
              <!-- POST PREVIEW IMG -->
            </div>
          </a>
          <!-- /POST PREVIEW IMG WRAP -->

          <!-- TAG ORNAMENT -->
          <a href="news-v1.html" class="tag-ornament">Gaming news</a>
          <!-- /TAG ORNAMENT -->

          <!-- POST PREVIEW TITLE -->
          <a href="post-v1.html" class="post-preview-title">The "Clash of Eternity" new game was just released</a>
          <!-- POST AUTHOR INFO -->
          <div class="post-author-info-wrap">
            <!-- USER AVATAR -->
            <a href="search-results.html">
              <figure class="user-avatar tiny liquid">
                <img src="img/users/01.jpg" alt="user-01">
              </figure>
            </a>
            <!-- /USER AVATAR -->
            <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Dexter</a><span class="separator">|</span>December 15th, 2018<span class="separator">|</span><a href="post-v1.html#op-comments" class="post-comment-count">174 Comments</a></p>
          </div>
          <!-- /POST AUTHOR INFO -->
          <!-- POST PREVIEW TEXT -->
          <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <!-- /POST PREVIEW -->

        <!-- POST PREVIEW -->
        <div class="post-preview large gaming-news">
          <!-- POST PREVIEW IMG WRAP -->
          <a href="post-v1.html">
            <div class="post-preview-img-wrap">
              <!-- POST PREVIEW IMG -->
              <figure class="post-preview-img liquid">
                <img src="img/posts/01.jpg" alt="post-01">
              </figure>
              <!-- POST PREVIEW IMG -->
            </div>
          </a>
          <!-- /POST PREVIEW IMG WRAP -->

          <!-- TAG ORNAMENT -->
          <a href="news-v1.html" class="tag-ornament">Gaming news</a>
          <!-- /TAG ORNAMENT -->

          <!-- POST PREVIEW TITLE -->
          <a href="post-v1.html" class="post-preview-title">The Clash of Dragons is breaking record sales in USA and Japan</a>
          <!-- POST AUTHOR INFO -->
          <div class="post-author-info-wrap">
            <!-- USER AVATAR -->
            <a href="search-results.html">
              <figure class="user-avatar tiny liquid">
                <img src="img/users/01.jpg" alt="user-01">
              </figure>
            </a>
            <!-- /USER AVATAR -->
            <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Dexter</a><span class="separator">|</span>December 15th, 2018<span class="separator">|</span><a href="post-v1.html#op-comments" class="post-comment-count">174 Comments</a></p>
          </div>
          <!-- /POST AUTHOR INFO -->
          <!-- POST PREVIEW TEXT -->
          <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <!-- /POST PREVIEW -->

        <!-- POST PREVIEW -->
        <div class="post-preview large gaming-news">
          <!-- POST PREVIEW IMG WRAP -->
          <a href="post-v1.html">
            <div class="post-preview-img-wrap">
              <!-- POST PREVIEW IMG -->
              <figure class="post-preview-img liquid">
                <img src="img/posts/27.jpg" alt="post-27">
              </figure>
              <!-- POST PREVIEW IMG -->
            </div>
          </a>
          <!-- /POST PREVIEW IMG WRAP -->

          <!-- TAG ORNAMENT -->
          <a href="news-v1.html" class="tag-ornament">Gaming news</a>
          <!-- /TAG ORNAMENT -->

          <!-- POST PREVIEW TITLE -->
          <a href="post-v1.html" class="post-preview-title">Everything about Kawai Party 8!</a>
          <!-- POST AUTHOR INFO -->
          <div class="post-author-info-wrap">
            <!-- USER AVATAR -->
            <a href="search-results.html">
              <figure class="user-avatar tiny liquid">
                <img src="img/users/01.jpg" alt="user-01">
              </figure>
            </a>
            <!-- /USER AVATAR -->
            <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Dexter</a><span class="separator">|</span>December 15th, 2018<span class="separator">|</span><a href="post-v1.html#op-comments" class="post-comment-count">174 Comments</a></p>
          </div>
          <!-- /POST AUTHOR INFO -->
          <!-- POST PREVIEW TEXT -->
          <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <!-- /POST PREVIEW -->

        <!-- POST PREVIEW -->
        <div class="post-preview large gaming-news">
          <!-- POST PREVIEW IMG WRAP -->
          <a href="post-v1.html">
            <div class="post-preview-img-wrap">
              <!-- POST PREVIEW IMG -->
              <figure class="post-preview-img liquid">
                <img src="img/posts/09.jpg" alt="post-09">
              </figure>
              <!-- POST PREVIEW IMG -->
            </div>
          </a>
          <!-- /POST PREVIEW IMG WRAP -->

          <!-- TAG ORNAMENT -->
          <a href="news-v1.html" class="tag-ornament">Gaming news</a>
          <!-- /TAG ORNAMENT -->

          <!-- POST PREVIEW TITLE -->
          <a href="post-v1.html" class="post-preview-title">New "Rizen" game is gonna be released in summer 2019</a>
          <!-- POST AUTHOR INFO -->
          <div class="post-author-info-wrap">
            <!-- USER AVATAR -->
            <a href="search-results.html">
              <figure class="user-avatar tiny liquid">
                <img src="img/users/01.jpg" alt="user-01">
              </figure>
            </a>
            <!-- /USER AVATAR -->
            <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Dexter</a><span class="separator">|</span>December 15th, 2018<span class="separator">|</span><a href="post-v1.html#op-comments" class="post-comment-count">174 Comments</a></p>
          </div>
          <!-- /POST AUTHOR INFO -->
          <!-- POST PREVIEW TEXT -->
          <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <!-- /POST PREVIEW -->
      </div>
      <!-- /LAYOUT ITEM -->

      <!-- PAGE NAVIGATION -->
      <div class="page-navigation blue spaced">
        <!-- CONTROL PREVIOUS -->
        <div class="slider-control big control-previous">
          <!-- ARROW ICON -->
          <svg class="arrow-icon medium">
            <use xlink:href="#svg-arrow-medium"></use>
          </svg>
          <!-- /ARROW ICON -->
        </div>
        <!-- /CONTROL PREVIOUS -->
        <a href="#" class="page-navigation-item">1</a>
        <a href="#" class="page-navigation-item active">2</a>
        <a href="#" class="page-navigation-item">3</a>
        <a href="#" class="page-navigation-item">...</a>
        <a href="#" class="page-navigation-item">8</a>
        <!-- CONTROL PREVIOUS -->
        <div class="slider-control big control-next">
          <!-- ARROW ICON -->
          <svg class="arrow-icon medium">
            <use xlink:href="#svg-arrow-medium"></use>
          </svg>
          <!-- /ARROW ICON -->
        </div>
        <!-- /CONTROL PREVIOUS -->
      </div>
      <!-- /PAGE NAVIGATION -->
    </div>
    <!-- /LAYOUT BODY -->

    {% include "common/right-column.html" %}


  </div>
  <!-- /LAYOUT CONTENT 1 -->

{% endblock %}
