{% extends 'main/base.html' %}
{% load static %}

{% block content %}

{% include "common/banner-slider.html" %}


<!-- LAYOUT CONTENT 1 -->
<div class="layout-content-1 layout-item-3-1 search-pad grid-limit">
    <!-- LAYOUT BODY -->
    <div class="layout-body layout-item centered">


        {% include "start/4-items-combo.html" %}

        {% include "start/big-and-small.html" %}

        {% include "start/3-categories-in-columns.html" %}

        {% include "start/twitch-countdown.html" %}

        {% include "start/videos.html" %}

    </div>
    <!-- /LAYOUT BODY -->


    {% include "common/right-column.html" %}


</div>
<!-- /LAYOUT CONTENT 1 -->

{% endblock %}